backup/flows/dong/exam1-dashboard_flow.json
[{"id":"66cfb455.b4853c","type":"http in","z":"6b33135f.cba25c","name":"","url":"device/api/info","method":"get","upload":false,"swaggerDoc":"","x":112,"y":104,"wires":[["a78e0903.63e438"]]},{"id":"b35fb1.3da2505","type":"function","z":"6b33135f.cba25c","name":"format response","func":"let payload = [];\nfor(let i = 0;i<msg.payload.length;i++){\n    let device = msg.payload[i];\n    payload.push({\n        macAddr: device.macAddr, \n        deviceType: device.type, \n        deviceStatus: device.status, \n        createdAt: device.created_at \n    })\n}\nmsg.payload = payload;\nreturn msg;","outputs":1,"noerr":0,"x":573,"y":137,"wires":[["c12a7957.99cb28"]]},{"id":"797b6760.fb25f8","type":"function","z":"6b33135f.cba25c","name":"get sensor info","func":"msg.topic = \"select * from sensor;\";\nreturn msg;","outputs":1,"noerr":0,"x":253,"y":354,"wires":[["4f3f152f.a65dec"]]},{"id":"8293a566.7f1138","type":"http in","z":"6b33135f.cba25c","name":"","url":"sensor/api/info","method":"get","upload":false,"swaggerDoc":"","x":95,"y":294,"wires":[["797b6760.fb25f8"]]},{"id":"e8b5748d.241788","type":"function","z":"6b33135f.cba25c","name":"format response","func":"let payload = [];\nfor(let i = 0;i<msg.payload.length;i++){\n    let sensor = msg.payload[i];\n    payload.push({\n        macAddr: sensor.macAddr, \n        sensorID: sensor.name, \n\t\tsensorStatus: sensor.status, \n\t\tcreatedAt: sensor.created_at\n    })\n}\nmsg.payload = payload;\nreturn msg;","outputs":1,"noerr":0,"x":696,"y":294,"wires":[["c12a7957.99cb28"]]},{"id":"c12a7957.99cb28","type":"http response","z":"6b33135f.cba25c","name":"","statusCode":"","headers":{},"x":1104,"y":311,"wires":[]},{"id":"f396b56f.02c138","type":"http in","z":"6b33135f.cba25c","name":"","url":"device/api/logs","method":"get","upload":false,"swaggerDoc":"","x":163,"y":488,"wires":[["7725ef3e.570b5"]]},{"id":"e749a50f.5c7608","type":"influxdb in","z":"6b33135f.cba25c","influxdb":"c5e7a34a.41616","name":"get device's macAddrs","query":"show tag values from devices_and_sensors with key=sensorID","rawOutput":false,"precision":"","retentionPolicy":"","x":793,"y":473,"wires":[["c12a7957.99cb28"]]},{"id":"7725ef3e.570b5","type":"function","z":"6b33135f.cba25c","name":"create query device logs ","func":"let macAddr = msg.payload.macAddr;\nmsg.query = \"select time,deviceStatus from devices_and_sensors where macAddr='\" + macAddr + \"' and isDevice=True;\";\nreturn msg;","outputs":1,"noerr":0,"x":509,"y":487,"wires":[["e749a50f.5c7608"]]},{"id":"f2e74ce3.5423b","type":"http in","z":"6b33135f.cba25c","name":"","url":"sensor/api/logs","method":"get","upload":false,"swaggerDoc":"","x":158,"y":562,"wires":[["696a1d86.3e5ac4"]]},{"id":"a1d4255e.5d51c8","type":"influxdb in","z":"6b33135f.cba25c","influxdb":"c5e7a34a.41616","name":"get device's macAddrs","query":"show tag values from devices_and_sensors with key=sensorID","rawOutput":false,"precision":"","retentionPolicy":"","x":788,"y":547,"wires":[["c12a7957.99cb28"]]},{"id":"696a1d86.3e5ac4","type":"function","z":"6b33135f.cba25c","name":"create query sensor logs ","func":"let sensorID = msg.payload.sensorID;\nmsg.query = \"select time,sensorStatus from devices_and_sensors where sensorID='\" + sensorID + \"';\";\nreturn msg;","outputs":1,"noerr":0,"x":504,"y":561,"wires":[["a1d4255e.5d51c8"]]},{"id":"b1a2e201.5ea7b","type":"http in","z":"6b33135f.cba25c","name":"","url":"/realtime-chart/api/device/initData","method":"get","upload":false,"swaggerDoc":"","x":155,"y":649,"wires":[["5b22d31a.775c1c"]]},{"id":"ce4bde08.cb383","type":"function","z":"6b33135f.cba25c","name":"add query init data","func":"msg.sensors = msg.payload;\n\nlet macAddr = msg.macAddr;\nlet endTime = Date.now();\nlet startTime = endTime - 60*1000;\nstartTime = startTime*Math.pow(10,6),\nendTime = endTime*Math.pow(10,6)\n\nmsg.query = \"select * from data where macAddr='\" + \n    macAddr + \"' and \" + \n    \"time >= \"+ startTime + \" and \" + \n    \"time <= \" + endTime;\nreturn msg;","outputs":1,"noerr":0,"x":477,"y":681,"wires":[["50732660.feaf78"]]},{"id":"50732660.feaf78","type":"influxdb in","z":"6b33135f.cba25c","influxdb":"c5e7a34a.41616","name":"get init data","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":718,"y":694,"wires":[["bb956a56.b598f8"]]},{"id":"bb956a56.b598f8","type":"function","z":"6b33135f.cba25c","name":"format init data response","func":"var units_range = {\n    c: {min: 1, max: 100},\n    lux: {min: 1, max: 100},\n    humi: {min: 1, max: 65535}\n};\n\nvar groupLineChart = [\n    {unit: \"\", lines: []},\n    {unit: \"Lux\", lines: []}\n]\n\nfor(let i = 0;i<msg.sensors.length;i++){\n    msg.sensors[i].timeSeriesData = [];\n    msg.sensors[i].sensorID = msg.sensors[i].name;\n}\n\nfor (let i = 0; i < msg.payload.length; i++) {\n    // msg.payload[i].sensorID= msg.payload[i].sensorID.split('-')[1];\n    let is_new_sensor = true;\n    for (let j = 0; j < msg.sensors.length; j++) {\n        if (msg.payload[i].name === msg.sensors[j].name) {\n            msg.sensors[j].timeSeriesData.push({\n                time: msg.payload[i].time,\n                value: msg.payload[i].value\n            })\n            break;\n        }\n    }\n    // if (is_new_sensor) {\n    //     let new_sensor = new Sensor(msg.payload[i].macAddr, msg.payload[i].sensorID,\n    //         msg.payload[i].unit);\n    //     new_sensor.timeSeriesData.push({\n    //         time: msg.payload[i].time,\n    //         value: msg.payload[i].value\n    //     })\n    //     initSensorsData.push(new_sensor);\n    // }\n}\n\nfor (let i = 0; i < msg.sensors.length; i++) {\n    if (msg.sensors[i].unit.toLowerCase() === 'c' ||\n        msg.sensors[i].unit.toLowerCase() === '%') {\n        groupLineChart[0].lines.push(msg.sensors[i]);\n        groupLineChart[0].unit += \" / \" + msg.sensors[i].unit;\n    }\n    if (msg.sensors[i].unit.toLowerCase() === 'lux') {\n        groupLineChart[1].lines.push(msg.sensors[i]);\n    }\n}\n\ngroupLineChart[0].unit = groupLineChart[0].unit.slice(3, groupLineChart[0].unit.length);\n\nmsg.payload = groupLineChart;\nreturn msg;","outputs":1,"noerr":0,"x":893,"y":626,"wires":[["c12a7957.99cb28"]]},{"id":"5abfbcc1.7961c4","type":"http in","z":"6b33135f.cba25c","name":"","url":"dashboard","method":"get","upload":false,"swaggerDoc":"","x":181,"y":32,"wires":[["f0854f6e.1eb09"]]},{"id":"218a62e0.4b0e0e","type":"http in","z":"6b33135f.cba25c","name":"","url":"/realtime-chart/api/sensor/latestData","method":"get","upload":false,"swaggerDoc":"","x":165,"y":850,"wires":[["57db7aad.c808a4"]]},{"id":"57db7aad.c808a4","type":"function","z":"6b33135f.cba25c","name":"add query latest data","func":"msg.macAddr = msg.payload.macAddr;\n\nmsg.arrSensorID = msg.payload.sensorIDs.split(',');\nlet sensor_query = \"\";\nfor(let i = 0;i<msg.arrSensorID.length;i++){\n    if(msg.arrSensorID[i]){\n        sensor_query += \"or \\\"name\\\" = '\" + msg.arrSensorID[i] + \"' \";\n    }\n}\n\nsensor_query = sensor_query.slice(2, sensor_query.length);\n\nlet endTime = Date.now();\nlet startTime = endTime - 5*1000;\nstartTime = startTime*Math.pow(10,6),\nendTime = endTime*Math.pow(10,6)\n\nmsg.query = \"select * from data where \" +\n    sensor_query + \" and \" +\n    \"\\\"macAddr\\\" = '\" + msg.macAddr + \"' and \" +\n    \"time >= \"+ startTime + \" and \" +\n    \"time <= \" + endTime;\nreturn msg;","outputs":1,"noerr":0,"x":347,"y":934,"wires":[["a6bf5b5.70008a8"]]},{"id":"a6bf5b5.70008a8","type":"influxdb in","z":"6b33135f.cba25c","influxdb":"c5e7a34a.41616","name":"get latest sensor data","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":553,"y":849,"wires":[["54ff8c51.391eb4"]]},{"id":"54ff8c51.391eb4","type":"function","z":"6b33135f.cba25c","name":"format latest data response","func":"var initSensorsData = [];\nvar Sensor = function (macAddr, sensorID) {\n    this.macAddr = macAddr;\n    this.sensorID = sensorID;\n    // this.unit = unit;\n    this.timeSeriesData = [] // {\"time\": \"\", \"value\": };\n}\n\nfor (let i=0;i<msg.payload.length;i++) {\n    // msg.payload[i].sensorID= msg.payload[i].sensorID.split('-')[1];\n    let is_new_sensor = true;\n    for (let j=0;j<initSensorsData.length;j++) {\n        if (msg.payload[i].name === initSensorsData[j].sensorID) {\n            initSensorsData[j].timeSeriesData.push({\n                time: msg.payload[i].time,\n                value: msg.payload[i].value\n            })\n            is_new_sensor = false;\n            break;\n        }\n    }\n    if (is_new_sensor) {\n        let new_sensor = new Sensor(msg.payload[i].macAddr, msg.payload[i].name);\n        new_sensor.timeSeriesData.push({\n            time: msg.payload[i].time,\n            value: msg.payload[i].value\n        })\n        initSensorsData.push(new_sensor);\n    }\n}\nmsg.payload = initSensorsData;\nreturn msg;","outputs":1,"noerr":0,"x":724,"y":927,"wires":[["c12a7957.99cb28"]]},{"id":"f0854f6e.1eb09","type":"dashboard","z":"6b33135f.cba25c","name":"","x":416,"y":38,"wires":[["c12a7957.99cb28"]]},{"id":"a78e0903.63e438","type":"function","z":"6b33135f.cba25c","name":"get device info","func":"msg.topic = \"select * from device;\";\nreturn msg;","outputs":1,"noerr":0,"x":255,"y":159,"wires":[["3fc3786c.bfdec8"]]},{"id":"3fc3786c.bfdec8","type":"mysql","z":"6b33135f.cba25c","mydb":"cf4d9ec8.838d8","name":"get device info","x":436,"y":211,"wires":[["b35fb1.3da2505"]]},{"id":"4f3f152f.a65dec","type":"mysql","z":"6b33135f.cba25c","mydb":"cf4d9ec8.838d8","name":"get sensor info","x":459,"y":294,"wires":[["ddf60d11.50e5c","e8b5748d.241788"]]},{"id":"ddf60d11.50e5c","type":"debug","z":"6b33135f.cba25c","name":"","active":true,"console":"false","complete":"false","x":654,"y":225,"wires":[]},{"id":"203e242f.e51c5c","type":"mysql","z":"6b33135f.cba25c","mydb":"cf4d9ec8.838d8","name":"get device info","x":411,"y":767,"wires":[["ce4bde08.cb383"]]},{"id":"5b22d31a.775c1c","type":"function","z":"6b33135f.cba25c","name":"get device's sensor ","func":"msg.macAddr = msg.payload.macAddr;\nmsg.topic = \"select * from sensor where macAddr='\" + msg.macAddr + \"';\";\nreturn msg;","outputs":1,"noerr":0,"x":214,"y":717,"wires":[["203e242f.e51c5c"]]},{"id":"c5e7a34a.41616","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"icse_iot","name":"","usetls":false,"tls":""},{"id":"cf4d9ec8.838d8","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"icse_iot","tz":""}]
