backup/flows/dong/exam1-simulator_logic_flow.json
[{"id":"b40cc1f3.e3259","type":"function","z":"a03a8f17.7d145","name":"create table device","func":"msg.topic = \"CREATE TABLE device (\" + \n// \"id INT AUTO_INCREMENT NOT NULL,\" +\n\"macAddr VARCHAR(30) NOT NULL,\" +\n\"type VARCHAR(10) NOT NULL,\" +\n\"status VARCHAR(50) NOT NULL,\" +\n\"created_at DATETIME NOT NULL,\" +\n\"PRIMARY KEY (macAddr))\";\nreturn msg;","outputs":1,"noerr":0,"x":314,"y":35,"wires":[["c654fbb6.fab468"]]},{"id":"ef11a341.035ae","type":"debug","z":"a03a8f17.7d145","name":"","active":true,"console":"false","complete":"true","x":606,"y":22,"wires":[]},{"id":"c654fbb6.fab468","type":"mysql","z":"a03a8f17.7d145","mydb":"cf4d9ec8.838d8","name":"create tables in database icse_iot ","x":632,"y":115,"wires":[["ef11a341.035ae"]]},{"id":"8437f7fa.ecbe68","type":"function","z":"a03a8f17.7d145","name":"create table sensor","func":"msg.topic = \"CREATE TABLE sensor (\" + \n// \"id INT NOT NULL,\" +\n\"name VARCHAR(30) NOT NULL,\" +\n\"macAddr VARCHAR(30) NOT NULL,\" +\n\"unit VARCHAR(10),\" +\n\"status VARCHAR(50) NOT NULL,\" +\n\"created_at DATETIME NOT NULL,\" +\n\"PRIMARY KEY (name, macAddr),\" +\n\"CONSTRAINT fk_device FOREIGN KEY (macAddr) REFERENCES device(macAddr) ON DELETE CASCADE)\";\nreturn msg;","outputs":1,"noerr":0,"x":277,"y":107,"wires":[["c654fbb6.fab468"]]},{"id":"9956d1f3.67a7e","type":"inject","z":"a03a8f17.7d145","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":98,"y":185,"wires":[["411e7c42.34adb4"]]},{"id":"411e7c42.34adb4","type":"function","z":"a03a8f17.7d145","name":"test query","func":"msg.topic = \"select name from sensor where macAddr = 'ab:bc:1e';\";\nreturn msg;","outputs":1,"noerr":0,"x":264,"y":186,"wires":[["c654fbb6.fab468"]]},{"id":"42041bde.2bf4d4","type":"function","z":"a03a8f17.7d145","name":"query device","func":"msg.payload = JSON.parse(msg.payload);\nmsg.newDevice = msg.payload;\nmsg.topic = \"select * from sensor where macAddr = '\" + msg.payload.macAddr + \"';\";\nreturn msg;","outputs":1,"noerr":0,"x":276,"y":300,"wires":[["e8e7704e.7cca7"]]},{"id":"7d24d05b.d42ad","type":"inject","z":"a03a8f17.7d145","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":92,"y":103,"wires":[["8437f7fa.ecbe68"]]},{"id":"28a55f5d.d4eb2","type":"inject","z":"a03a8f17.7d145","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":86,"y":43,"wires":[["b40cc1f3.e3259"]]},{"id":"3b699217.c856ce","type":"mqtt in","z":"a03a8f17.7d145","name":"","topic":"icse/newDevice","qos":"2","broker":"fce3fdf1.97d65","x":93,"y":358,"wires":[["42041bde.2bf4d4"]]},{"id":"e8e7704e.7cca7","type":"mysql","z":"a03a8f17.7d145","mydb":"cf4d9ec8.838d8","name":"query sensors info","x":489,"y":301,"wires":[["30b78437.99f00c"]]},{"id":"30b78437.99f00c","type":"function","z":"a03a8f17.7d145","name":"check device and sensors exist","func":"// msg.newDevice: contain device register\n\nlet newSensors = [];\nmsg.topic = \"\";\nif(msg.payload.length){\n    for(let i = 0;i<msg.newDevice.sensors.length;i++){\n        let sensor = msg.newDevice.sensors[i];\n        let is_new_sensor = true;\n        for(let j = 0;j<msg.payload.length;j++){\n            let oldSensor = msg.payload[j];\n            if(sensor.name === oldSensor.name){\n                is_new_sensor = false;\n                break;\n            }\n        }\n        if(is_new_sensor){\n            newSensors.push(sensor);\n        }\n    }\n} else{\n    // device didn't register\n    newSensors = msg.newDevice.sensors;\n    msg.topic += \"insert into device (macAddr, type, status, created_at) values('\" +\n            msg.newDevice.macAddr + \"','\" + msg.newDevice.type + \"', 'ONLINE', now());\";\n}\n\nif(newSensors.length) {\n    msg.topic += \"insert into sensor (name,macAddr, unit, status, created_at) values\";\n    for(let i = 0;i<newSensors.length;i++){\n        let newSensor = newSensors[i];\n        msg.topic += \"('\" + newSensor.name + \"','\"+ msg.newDevice.macAddr + \"','\" + newSensor.unit + \"','ONLINE', now()),\";\n    }\n    msg.topic = msg.topic.replace(/.$/,\";\");\n    msg.newSensors = newSensors;\n    return [msg, null];\n}\nreturn [null, msg];\n","outputs":"2","noerr":0,"x":549,"y":369,"wires":[["fcfeb496.5f2298"],["7079496b.b9d998"]]},{"id":"fcfeb496.5f2298","type":"mysql","z":"a03a8f17.7d145","mydb":"cf4d9ec8.838d8","name":"save data","x":729,"y":295,"wires":[["7079496b.b9d998","d8abc5ee.16a378"]]},{"id":"fdcac966.1b0968","type":"mqtt out","z":"a03a8f17.7d145","name":"response to device","topic":"","qos":"","retain":"","broker":"fce3fdf1.97d65","x":1136,"y":338,"wires":[]},{"id":"7079496b.b9d998","type":"function","z":"a03a8f17.7d145","name":"message to ESP","func":"let message_response = {\n    topic: \"icse/\" + msg.newDevice.macAddr + \"/action\",\n    payload: {type: \"register\",status: \"OK\"}\n}\nreturn message_response;","outputs":1,"noerr":0,"x":909,"y":362,"wires":[["fdcac966.1b0968"]]},{"id":"d8abc5ee.16a378","type":"function","z":"a03a8f17.7d145","name":"save device logs","func":"// msg.newSensors: new sensors\n// msg.measurement = msg.newDevice.macAddr + \"_logs\";\nmsg.payload = [];\n// save device status\nmsg.payload.push([\n    {status: \"ONLINE\"},\n    {\n        name: msg.newDevice.macAddr,\n        macAddr: msg.newDevice.macAddr\n    }\n])\n\nfor(let i = 0;i<msg.newSensors.length;i++){\n    msg.payload.push([\n        {status: \"ONLINE\"},\n        {\n            name: msg.newSensors[i].name,\n            macAddr: msg.newDevice.macAddr\n        }\n    ])\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":904,"y":259,"wires":[["7341bfae.d6389"]]},{"id":"7341bfae.d6389","type":"influxdb out","z":"a03a8f17.7d145","influxdb":"c5e7a34a.41616","name":"","measurement":"logs","precision":"","retentionPolicy":"","x":1158,"y":270,"wires":[]},{"id":"e4094210.b244","type":"mqtt in","z":"a03a8f17.7d145","name":"","topic":"icse/data","qos":"2","broker":"fce3fdf1.97d65","x":79,"y":468,"wires":[[]]},{"id":"c2270f78.4c1f6","type":"inject","z":"a03a8f17.7d145","name":"interval time check device status","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":168,"y":553,"wires":[["b761786a.75f318"]]},{"id":"bc000328.cb0aa","type":"function","z":"a03a8f17.7d145","name":"check device status","func":"\n\nif(msg.msgType === \"deviceCome\") {\n    // save the devices macAddr when receive data from it\n    let devicesMacAddrLive = context.get('devicesMacAddrLive') || [];\n    let deviceCome = msg.payload;\n    let isExist = false;\n    for (let i = 0; i < devicesMacAddrLive.length; i++) {\n        if (deviceCome.macAddr === devicesMacAddrLive[i]) {\n            isExist = true;\n            break;\n        }\n    }\n    if (!isExist) {\n        devicesMacAddrLive.push(deviceCome.macAddr);\n    }\n// store the devicesMacAddrLive back\n    context.set('devicesMacAddrLive', devicesMacAddrLive);\n    return null;\n} else {\n//    check device status: msg.msgType = checkDevicesStatus\n    let devicesMacAddrLive = context.get('devicesMacAddrLive') || [];\n    let currentDevices = msg.payload;\n    let onlineDevicesMacAddr = [];\n    let offlineDevicesMacAddr = [];\n    for(let i = 0;i<currentDevices.length;i++){\n        let isOnline = false;\n        for(let j = 0;j<devicesMacAddrLive.length;j++){\n            if(currentDevices[i].macAddr === devicesMacAddrLive[j]){\n                isOnline = true;\n                break;\n            }\n        }\n        if(isOnline){\n            onlineDevicesMacAddr.push(currentDevices[i].macAddr);\n        } else {\n            offlineDevicesMacAddr.push(currentDevices[i].macAddr);\n        }\n    }\n    devicesMacAddrLive = [];\n    context.set('devicesMacAddrLive', devicesMacAddrLive);\n    msg.onlineDevicesMacAddr = onlineDevicesMacAddr;\n    msg.offlineDevicesMacAddr = offlineDevicesMacAddr;\n    return msg;\n}","outputs":"1","noerr":0,"x":587,"y":441,"wires":[["bcdab37a.65273"]]},{"id":"bcdab37a.65273","type":"debug","z":"a03a8f17.7d145","name":"","active":true,"console":"false","complete":"true","x":765,"y":478,"wires":[]},{"id":"b761786a.75f318","type":"function","z":"a03a8f17.7d145","name":"add query devices status","func":"msg.topic = \"select macAddr,status from device\";\nmsg.msgType = \"checkDevicesStatus\";\nreturn msg;","outputs":1,"noerr":0,"x":316,"y":647,"wires":[["229b1fc8.c97b3"]]},{"id":"229b1fc8.c97b3","type":"mysql","z":"a03a8f17.7d145","mydb":"cf4d9ec8.838d8","name":"get devices status","x":490,"y":556,"wires":[["bc000328.cb0aa"]]},{"id":"f98bf72a.621ce8","type":"function","z":"a03a8f17.7d145","name":"format data","func":"msg.payload = JSON.parse(msg.payload);\nmsg.msgType = \"deviceCome\";\nreturn msg;","outputs":1,"noerr":0,"x":278,"y":464,"wires":[["bc000328.cb0aa"]]},{"id":"49db87c2.9a2538","type":"mqtt in","z":"a03a8f17.7d145","name":"","topic":"icse/data","qos":"2","broker":"fce3fdf1.97d65","x":113,"y":761,"wires":[[]]},{"id":"d1102507.351a28","type":"function","z":"a03a8f17.7d145","name":"save data","func":"// msg.newSensors: new sensors\nmsg.payload = JSON.parse(msg.payload);\nlet payload = [];\n// save device data\n\nfor(let i = 0;i<msg.payload.sensorsData.length;i++){\n    let sensor = msg.payload.sensorsData[i];\n    if(typeof(sensor.value) !== \"boolean\"){\n        payload.push([\n            {value: sensor.value},\n            {\n                name: sensor.name,\n                macAddr:msg.payload.macAddr\n            }\n        ])\n    }\n}\nmsg.payload = payload;\nreturn msg;","outputs":1,"noerr":0,"x":339,"y":767,"wires":[["1cfbfb13.f87085"]]},{"id":"1cfbfb13.f87085","type":"influxdb out","z":"a03a8f17.7d145","influxdb":"c5e7a34a.41616","name":"","measurement":"data","precision":"","retentionPolicy":"","x":613,"y":778,"wires":[]},{"id":"cf4d9ec8.838d8","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"icse_iot","tz":""},{"id":"fce3fdf1.97d65","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"c5e7a34a.41616","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"icse_iot","name":"","usetls":false,"tls":""}]
