backup/flows/dong/prepare-dashboard-and-api-flow.json
[{"id":"f645714e.a8bd9","type":"http in","z":"56748b61.eac824","name":"","url":"device/api/info","method":"get","upload":false,"swaggerDoc":"","x":112,"y":120,"wires":[["76aaa703.335f98"]]},{"id":"7ee27fa7.8a4ef","type":"function","z":"56748b61.eac824","name":"format response","func":"let payload = [];\nfor(let i = 0;i<msg.payload.length;i++){\n    let device = msg.payload[i];\n    payload.push({\n        macAddr: device.macAddr, \n        deviceType: device.type, \n        deviceStatus: device.status, \n        createdAt: device.created_at \n    })\n}\nmsg.payload = payload;\nreturn msg;","outputs":1,"noerr":0,"x":573,"y":153,"wires":[["11a19bc6.b94754"]]},{"id":"323210ad.b31c","type":"function","z":"56748b61.eac824","name":"get sensor info","func":"msg.query = \"select * from sensor;\";\nreturn msg;","outputs":1,"noerr":0,"x":253,"y":370,"wires":[["559af75b.de57c8"]]},{"id":"a92b7729.cddef8","type":"http in","z":"56748b61.eac824","name":"","url":"sensor/api/info","method":"get","upload":false,"swaggerDoc":"","x":95,"y":310,"wires":[["323210ad.b31c"]]},{"id":"df5a84ed.c11b38","type":"function","z":"56748b61.eac824","name":"format response","func":"let payload = [];\nfor(let i = 0;i<msg.payload.length;i++){\n    let sensor = msg.payload[i];\n    payload.push({\n        macAddr: sensor.macAddr, \n        sensorID: sensor.name, \n\t\tsensorStatus: sensor.status, \n\t\tcreatedAt: sensor.created_at\n    })\n}\nmsg.payload = payload;\nreturn msg;","outputs":1,"noerr":0,"x":696,"y":310,"wires":[["11a19bc6.b94754"]]},{"id":"11a19bc6.b94754","type":"http response","z":"56748b61.eac824","name":"","statusCode":"","headers":{},"x":1104,"y":327,"wires":[]},{"id":"8d37fdac.cbded","type":"http in","z":"56748b61.eac824","name":"","url":"device/api/logs","method":"get","upload":false,"swaggerDoc":"","x":163,"y":504,"wires":[["2c95b755.629888"]]},{"id":"1618033e.47e63d","type":"influxdb in","z":"56748b61.eac824","influxdb":"3bd8be3a.f6ff02","name":"get device's macAddrs","query":"show tag values from devices_and_sensors with key=sensorID","rawOutput":false,"precision":"","retentionPolicy":"","x":793,"y":489,"wires":[["11a19bc6.b94754"]]},{"id":"2c95b755.629888","type":"function","z":"56748b61.eac824","name":"create query device logs ","func":"let macAddr = msg.payload.macAddr;\nmsg.query = \"select time,deviceStatus from devices_and_sensors where macAddr='\" + macAddr + \"' and isDevice=True;\";\nreturn msg;","outputs":1,"noerr":0,"x":509,"y":503,"wires":[["1618033e.47e63d"]]},{"id":"a2060f35.ebc14","type":"http in","z":"56748b61.eac824","name":"","url":"sensor/api/logs","method":"get","upload":false,"swaggerDoc":"","x":158,"y":578,"wires":[["875a692a.3b4108"]]},{"id":"3b084276.4539de","type":"influxdb in","z":"56748b61.eac824","influxdb":"3bd8be3a.f6ff02","name":"get device's macAddrs","query":"show tag values from devices_and_sensors with key=sensorID","rawOutput":false,"precision":"","retentionPolicy":"","x":788,"y":563,"wires":[["11a19bc6.b94754"]]},{"id":"875a692a.3b4108","type":"function","z":"56748b61.eac824","name":"create query sensor logs ","func":"let sensorID = msg.payload.sensorID;\nmsg.query = \"select time,sensorStatus from devices_and_sensors where sensorID='\" + sensorID + \"';\";\nreturn msg;","outputs":1,"noerr":0,"x":504,"y":577,"wires":[["3b084276.4539de"]]},{"id":"92fe9b80.814758","type":"http in","z":"56748b61.eac824","name":"","url":"/realtime-chart/api/device/initData","method":"get","upload":false,"swaggerDoc":"","x":155,"y":665,"wires":[["976cda31.2a8078"]]},{"id":"d6b25cab.b8059","type":"function","z":"56748b61.eac824","name":"add query init data","func":"msg.sensors = msg.payload;\n\nlet macAddr = msg.macAddr;\nlet endTime = Date.now();\nlet startTime = endTime - 60*1000;\nstartTime = startTime*Math.pow(10,6),\nendTime = endTime*Math.pow(10,6)\n\nmsg.query = \"select * from data where macAddr='\" + \n    macAddr + \"' and \" + \n    \"time >= \"+ startTime + \" and \" + \n    \"time <= \" + endTime;\nreturn msg;","outputs":1,"noerr":0,"x":477,"y":697,"wires":[["9c303455.adac28"]]},{"id":"9c303455.adac28","type":"influxdb in","z":"56748b61.eac824","influxdb":"3bd8be3a.f6ff02","name":"get init data","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":718,"y":710,"wires":[["9c2f2667.7d5ab8"]]},{"id":"9c2f2667.7d5ab8","type":"function","z":"56748b61.eac824","name":"format init data response","func":"var units_range = {\n    c: {min: 1, max: 100},\n    lux: {min: 1, max: 100},\n    humi: {min: 1, max: 65535}\n};\n\nvar groupLineChart = [\n    {unit: \"\", lines: []},\n    {unit: \"Lux\", lines: []}\n]\n\nfor(let i = 0;i<msg.sensors.length;i++){\n    msg.sensors[i].timeSeriesData = [];\n    msg.sensors[i].sensorID = msg.sensors[i].name;\n}\n\nfor (let i = 0; i < msg.payload.length; i++) {\n    // msg.payload[i].sensorID= msg.payload[i].sensorID.split('-')[1];\n    let is_new_sensor = true;\n    for (let j = 0; j < msg.sensors.length; j++) {\n        if (msg.payload[i].name === msg.sensors[j].name) {\n            msg.sensors[j].timeSeriesData.push({\n                time: msg.payload[i].time,\n                value: msg.payload[i].value\n            })\n            break;\n        }\n    }\n    // if (is_new_sensor) {\n    //     let new_sensor = new Sensor(msg.payload[i].macAddr, msg.payload[i].sensorID,\n    //         msg.payload[i].unit);\n    //     new_sensor.timeSeriesData.push({\n    //         time: msg.payload[i].time,\n    //         value: msg.payload[i].value\n    //     })\n    //     initSensorsData.push(new_sensor);\n    // }\n}\n\nfor (let i = 0; i < msg.sensors.length; i++) {\n    if (msg.sensors[i].unit.toLowerCase() === 'c' ||\n        msg.sensors[i].unit.toLowerCase() === '%') {\n        groupLineChart[0].lines.push(msg.sensors[i]);\n        groupLineChart[0].unit += \" / \" + msg.sensors[i].unit;\n    }\n    if (msg.sensors[i].unit.toLowerCase() === 'lux') {\n        groupLineChart[1].lines.push(msg.sensors[i]);\n    }\n}\n\ngroupLineChart[0].unit = groupLineChart[0].unit.slice(3, groupLineChart[0].unit.length);\n\nmsg.payload = groupLineChart;\nreturn msg;","outputs":1,"noerr":0,"x":893,"y":642,"wires":[["11a19bc6.b94754"]]},{"id":"726d119e.5f7ad","type":"http in","z":"56748b61.eac824","name":"","url":"dashboard","method":"get","upload":false,"swaggerDoc":"","x":181,"y":48,"wires":[["deceaa66.832c28"]]},{"id":"842faf61.9f513","type":"http in","z":"56748b61.eac824","name":"","url":"/realtime-chart/api/sensor/latestData","method":"get","upload":false,"swaggerDoc":"","x":165,"y":866,"wires":[["4ab80773.af2a38"]]},{"id":"4ab80773.af2a38","type":"function","z":"56748b61.eac824","name":"add query latest data","func":"msg.macAddr = msg.payload.macAddr;\n\nmsg.arrSensorID = msg.payload.sensorIDs.split(',');\nlet sensor_query = \"\";\nfor(let i = 0;i<msg.arrSensorID.length;i++){\n    if(msg.arrSensorID[i]){\n        sensor_query += \"or \\\"name\\\" = '\" + msg.arrSensorID[i] + \"' \";\n    }\n}\n\nsensor_query = sensor_query.slice(2, sensor_query.length);\n\nlet endTime = Date.now();\nlet startTime = endTime - 5*1000;\nstartTime = startTime*Math.pow(10,6),\nendTime = endTime*Math.pow(10,6)\n\nmsg.query = \"select * from data where \" +\n    sensor_query + \" and \" +\n    \"\\\"macAddr\\\" = '\" + msg.macAddr + \"' and \" +\n    \"time >= \"+ startTime + \" and \" +\n    \"time <= \" + endTime;\nreturn msg;","outputs":1,"noerr":0,"x":347,"y":950,"wires":[["3ebb83cb.f1bcfc"]]},{"id":"3ebb83cb.f1bcfc","type":"influxdb in","z":"56748b61.eac824","influxdb":"3bd8be3a.f6ff02","name":"get latest sensor data","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":553,"y":865,"wires":[["f46a49fb.f090a8"]]},{"id":"f46a49fb.f090a8","type":"function","z":"56748b61.eac824","name":"format latest data response","func":"var initSensorsData = [];\nvar Sensor = function (macAddr, sensorID) {\n    this.macAddr = macAddr;\n    this.sensorID = sensorID;\n    // this.unit = unit;\n    this.timeSeriesData = [] // {\"time\": \"\", \"value\": };\n}\n\nfor (let i=0;i<msg.payload.length;i++) {\n    // msg.payload[i].sensorID= msg.payload[i].sensorID.split('-')[1];\n    let is_new_sensor = true;\n    for (let j=0;j<initSensorsData.length;j++) {\n        if (msg.payload[i].name === initSensorsData[j].sensorID) {\n            initSensorsData[j].timeSeriesData.push({\n                time: msg.payload[i].time,\n                value: msg.payload[i].value\n            })\n            is_new_sensor = false;\n            break;\n        }\n    }\n    if (is_new_sensor) {\n        let new_sensor = new Sensor(msg.payload[i].macAddr, msg.payload[i].name);\n        new_sensor.timeSeriesData.push({\n            time: msg.payload[i].time,\n            value: msg.payload[i].value\n        })\n        initSensorsData.push(new_sensor);\n    }\n}\nmsg.payload = initSensorsData;\nreturn msg;","outputs":1,"noerr":0,"x":724,"y":943,"wires":[["11a19bc6.b94754"]]},{"id":"deceaa66.832c28","type":"dashboard","z":"56748b61.eac824","name":"","x":416,"y":54,"wires":[["11a19bc6.b94754"]]},{"id":"76aaa703.335f98","type":"function","z":"56748b61.eac824","name":"get device info","func":"msg.query = \"select * from device;\";\nreturn msg;","outputs":1,"noerr":0,"x":255,"y":175,"wires":[["eb6e48a0.2545d8"]]},{"id":"d2c9ffdc.a109c","type":"debug","z":"56748b61.eac824","name":"","active":true,"console":"false","complete":"false","x":654,"y":241,"wires":[]},{"id":"976cda31.2a8078","type":"function","z":"56748b61.eac824","name":"get device's sensor ","func":"msg.macAddr = msg.payload.macAddr;\nmsg.topic = \"select * from sensor where macAddr='\" + msg.macAddr + \"';\";\nreturn msg;","outputs":1,"noerr":0,"x":214,"y":733,"wires":[["b5122390.57e2e"]]},{"id":"eb6e48a0.2545d8","type":"mysql-query","z":"56748b61.eac824","mydb":"3e24abb5.20db64","name":"","queryString":"","outputTo":"payload","x":426,"y":193,"wires":[["7ee27fa7.8a4ef"]]},{"id":"559af75b.de57c8","type":"mysql-query","z":"56748b61.eac824","mydb":"3e24abb5.20db64","name":"","queryString":"","outputTo":"payload","x":446,"y":317,"wires":[["d2c9ffdc.a109c","df5a84ed.c11b38"]]},{"id":"b5122390.57e2e","type":"mysql-query","z":"56748b61.eac824","mydb":"3e24abb5.20db64","name":"","queryString":"","outputTo":"payload","x":388,"y":773,"wires":[["d6b25cab.b8059"]]},{"id":"3bd8be3a.f6ff02","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"icse_iot","name":"","usetls":false,"tls":""},{"id":"3e24abb5.20db64","type":"MySQLdatabase","z":"","host":"mysql","port":"3306","db":"icse_iot","tz":""}]