backup/flows/dong/prepare-handle-data-gatewaySide.json
[{"id":"a757d64b.812238","type":"function","z":"32f3d32c.ee323c","name":"type is data","func":"// var flowContext = this.context().flow;\n\n// msg.payload = JSON.parse(msg.payload);\nlet macAddr = msg.payload.macAddr;\n\n// save again newest data\nflow.set('newestData-' + macAddr, msg.payload);\n\n// add new data to devicesDataList\nlet devicesDataList = flow.get('devicesDataList') || [];\nlet isDeviceExist = false;\nfor (let i = 0; i < devicesDataList.length; i++) {\n    let device = devicesDataList[i];\n    if (device.macAddr === macAddr) {\n        isDeviceExist = true;\n        device.data.push({\n            time: Date.now() * Math.pow(10, 6),\n            sensorsData: msg.payload.sensorsData\n        });\n        break;\n    }\n}\n\nif (!isDeviceExist) {\n    let device = {};\n    device.macAddr = macAddr;\n    device.data = [{\n        time: Date.now() * Math.pow(10, 6),\n        sensorsData: msg.payload.sensorsData\n    }];\n    devicesDataList.push(device);\n}\n\n// save again devicesDataList\nflow.set('devicesDataList', devicesDataList);\n\nmsg.payload = devicesDataList;\nmsg.newestData = flow.get('newestData-' + macAddr);\n\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":120,"wires":[[]]},{"id":"bf53302a.6f606","type":"mqtt in","z":"32f3d32c.ee323c","name":"","topic":"bkcloud/data","qos":"2","broker":"b7aa0b09.f08ef8","x":150,"y":180,"wires":[["77be0528.62b98c","bec0e104.68fe5"]]},{"id":"ebafc5f0.9c88f8","type":"switch","z":"32f3d32c.ee323c","name":"","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"data","vt":"str"},{"t":"eq","v":"motion","vt":"str"}],"checkall":"true","outputs":2,"x":370,"y":180,"wires":[["a757d64b.812238","7421a199.464fe"],["56e29b64.9d1554"]]},{"id":"77be0528.62b98c","type":"json","z":"32f3d32c.ee323c","name":"","pretty":false,"x":250,"y":120,"wires":[["ebafc5f0.9c88f8"]]},{"id":"3973b698.a42fba","type":"debug","z":"32f3d32c.ee323c","name":"","active":true,"console":"false","complete":"payload","x":770,"y":120,"wires":[]},{"id":"56e29b64.9d1554","type":"function","z":"32f3d32c.ee323c","name":"type is motion","func":"let threshold = 10;\n\n// msg.payload = JSON.parse(msg.payload);\nlet macAddr = msg.payload.macAddr;\n\nlet servoMessage = function (status) {\n    return {\n        type: \"servoAction\",\n        action: status\n    }\n}\n// check motionCount-MAC\nlet motionCount = context.get('motionCount-' + macAddr);\nif (typeof(motionCount) === \"undefined\") {\n    motionCount = 1;\n}\nmsg.motionCount = motionCount;\n\nif (motionCount === 0) {\n    //    turn off servo\n    msg.payload = servoMessage('ON');\n    context.set('motionCount-' + macAddr, 1);\n    msg.topic = \"bkcloud/\" + macAddr + \"/action\";\n    return msg;\n} else {\n    let newestData = flow.get('newestData-' + macAddr);\n    context.set('motionCount-' + macAddr, 0);\n    if(newestData){\n        for(let i = 0;i<newestData.sensorsData.length;i++){\n            let sensor = newestData.sensorsData[i];\n            if(sensor.unit === \"C\"){\n                if(sensor.value > threshold){\n                    msg.payload = servoMessage('ON');\n                    msg.topic = \"bkcloud/\" + macAddr + \"/action\";\n                    return msg;\n                }\n            }\n        }\n    }\n    msg.payload = servoMessage('OFF');\n    msg.topic = \"bkcloud/\" + macAddr + \"/action\";\n    return msg;\n}\n","outputs":1,"noerr":0,"x":580,"y":220,"wires":[["f6e8df03.45da","3973b698.a42fba"]]},{"id":"4fa6bb59.ed15b4","type":"debug","z":"32f3d32c.ee323c","name":"","active":true,"console":"false","complete":"false","x":550,"y":480,"wires":[]},{"id":"fc5fcc86.9ba97","type":"mqtt in","z":"32f3d32c.ee323c","name":"","topic":"test","qos":"2","broker":"b7aa0b09.f08ef8","x":150,"y":480,"wires":[["2afc68bf.b44db8"]]},{"id":"80158310.67963","type":"inject","z":"32f3d32c.ee323c","name":"time interval post data","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"x":150,"y":340,"wires":[["36399ef5.fc8842"]]},{"id":"36399ef5.fc8842","type":"function","z":"32f3d32c.ee323c","name":"post data","func":"// var flowContext = this.context().flow;\n\nlet devicesDataList = flow.get('devicesDataList') || [];\n\nif(devicesDataList.length){\n    msg.payload = devicesDataList;\n    flow.set('devicesDataList', []);\n    return msg;\n}\n\nreturn null;","outputs":1,"noerr":0,"x":400,"y":340,"wires":[["468c3851.2787c8"]]},{"id":"2afc68bf.b44db8","type":"json","z":"32f3d32c.ee323c","name":"","pretty":false,"x":350,"y":480,"wires":[["4fa6bb59.ed15b4"]]},{"id":"f6e8df03.45da","type":"mqtt out","z":"32f3d32c.ee323c","name":"","topic":"","qos":"","retain":"","broker":"b7aa0b09.f08ef8","x":770,"y":220,"wires":[]},{"id":"93603d51.03a3a","type":"mqtt in","z":"32f3d32c.ee323c","name":"","topic":"servo","qos":"2","broker":"b7aa0b09.f08ef8","x":150,"y":580,"wires":[["fa4465af.a95f68"]]},{"id":"fa4465af.a95f68","type":"json","z":"32f3d32c.ee323c","name":"","pretty":false,"x":350,"y":580,"wires":[["cb7e5149.502f6"]]},{"id":"cb7e5149.502f6","type":"debug","z":"32f3d32c.ee323c","name":"","active":true,"console":"false","complete":"payload","x":550,"y":580,"wires":[]},{"id":"468c3851.2787c8","type":"http request","z":"32f3d32c.ee323c","name":"","method":"POST","ret":"txt","url":"http://nodered-server:1880/api/sensorsData","tls":"","x":630,"y":340,"wires":[["5c4cda57.607604"]]},{"id":"5c4cda57.607604","type":"debug","z":"32f3d32c.ee323c","name":"","active":true,"console":"false","complete":"true","x":810,"y":340,"wires":[]},{"id":"7421a199.464fe","type":"function","z":"32f3d32c.ee323c","name":"check data format","func":"// a = {\n//     macAddr: \"\",\n//     type: \"data\",\n//     sensorsData: [\n//         {name: \"DHT11-t\", value: 24, unit: \"C\"},\t// value của nhiệt độ\n//         {name: \"DHT11-h\", value: 60, unit: \"%\"},\t// value của độ ẩm\n//         {name: \"BH1750\", value: 6000, unit: \"Lux\"},\t// value của ánh sáng\n//     ]\n// }\n\n\nlet macAddr = msg.payload.macAddr;\n\nlet deviceStatus = flow.get('status-' + macAddr) || {};\n\nfor(let i = 0;i<msg.payload.sensorsData.length;i++){\n    let sensor = msg.payload.sensorsData[i];\n    switch (sensor.unit.toLowerCase()){\n        case 'c':\n            break;\n        case '%':\n            break;\n        case 'lux':\n            break;\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":60,"wires":[[]]},{"id":"bec0e104.68fe5","type":"debug","z":"32f3d32c.ee323c","name":"","active":true,"console":"false","complete":"false","x":298,"y":234,"wires":[]},{"id":"b7aa0b09.f08ef8","type":"mqtt-broker","z":"","broker":"mqtt","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]