backup/flows/cong/exam1-gateway-1.json
[{"id":"1a6af531.5b582b","type":"function","z":"d99cedd2.63744","name":"process query result","func":"var moment = global.get('moment');\nif (msg.boardQueryResult.length === 0) {\n    // prepare add board query\n    var addBoardQuery = 'INSERT INTO board VALUES(?,?,?,?)';\n    var bindValue = [\n        msg.payload.mac_addr, \n        msg.payload.type,\n        'ONLINE',\n        moment(new Date()).format(\"YYYY-MM-DD HH:mm:ss\")\n    ];\n    var addNewBoardMsg = {\n        payload:msg.payload,\n        query:addBoardQuery,\n        bindQuery:bindValue\n    };\n    return [addNewBoardMsg, null];\n    // add board device    \n} else {\n    // do nothing    \n    return [null, msg];\n}","outputs":"2","noerr":0,"x":360,"y":360,"wires":[["dc849723.da0d78"],["b44f7d4b.36194"]]},{"id":"5ac5eafe.978614","type":"mqtt out","z":"d99cedd2.63744","name":"","topic":"","qos":"","retain":"","broker":"ab67afc2.a5951","x":1410,"y":360,"wires":[]},{"id":"d9857d93.3b022","type":"mysql-query","z":"d99cedd2.63744","mydb":"686c798c.8bfb1","name":"init tables if not exist","queryString":"CREATE TABLE IF NOT EXISTS board (\n    mac_id varchar(255) NOT NULL,\n    board_type varchar(255) NOT NULL,\n    status varchar(255) NOT NULL,\n    last_update DATETIME NOT NULL,\n    PRIMARY KEY (mac_id)\n); \n\nCREATE TABLE IF NOT EXISTS sensor (\n    id varchar(255) NOT NULL,\n    board_mac_id varchar(255) NOT NULL,\n    sensor_type varchar(255) NOT NULL,\n    status varchar(255) NOT NULL,\n    last_update DATETIME NOT NULL,\n    PRIMARY KEY (id,board_mac_id),\n    FOREIGN KEY (board_mac_id) REFERENCES board(mac_id)\n); \n","outputTo":"queryResult","x":760,"y":80,"wires":[["622b901f.ea7898"]]},{"id":"16c22aa.d3866d5","type":"inject","z":"d99cedd2.63744","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":110,"y":80,"wires":[["4d5d43a5.eaf67c"]]},{"id":"622b901f.ea7898","type":"debug","z":"d99cedd2.63744","name":"","active":true,"console":"false","complete":"true","x":970,"y":80,"wires":[]},{"id":"4d5d43a5.eaf67c","type":"mysql-query","z":"d99cedd2.63744","mydb":"686c798c.8bfb1","name":"check table exist","queryString":"SHOW TABLES LIKE 'board';\nSHOW TABLES LIKE 'sensor';\n","outputTo":"queryResult","x":290,"y":80,"wires":[["ddc3a804.c2101"]]},{"id":"ddc3a804.c2101","type":"function","z":"d99cedd2.63744","name":"send init tbl command","func":"var tbl_exist = 0;\nfor (let i=0;i<2;i++){\n    if(msg.queryResult[i].length>=1){\n        tbl_exist+=1;\n    }\n}\nif(tbl_exist<2){\n    return msg;    \n}\n","outputs":1,"noerr":0,"x":520,"y":80,"wires":[["d9857d93.3b022"]]},{"id":"2722d868.a42128","type":"mysql-query","z":"d99cedd2.63744","mydb":"686c798c.8bfb1","name":"check board","queryString":"","outputTo":"boardQueryResult","x":310,"y":240,"wires":[["1a6af531.5b582b"]]},{"id":"4dc5a015.58ec3","type":"function","z":"d99cedd2.63744","name":"check board exist","func":"// authenticate msg format\nlet query ='select * from board where mac_id = ?';\n// console.log(msg.payload.mac_addr);\nlet bindQuery = [ msg.payload.mac_addr,];\nmsg.query = query;\nmsg.bindQuery = bindQuery;\nreturn msg;","outputs":"1","noerr":0,"x":130,"y":240,"wires":[["2722d868.a42128"]]},{"id":"dc849723.da0d78","type":"mysql-query","z":"d99cedd2.63744","mydb":"686c798c.8bfb1","name":"add board","queryString":"","outputTo":"queryResult","x":500,"y":240,"wires":[["b44f7d4b.36194"]]},{"id":"7c887834.9a1f6","type":"function","z":"d99cedd2.63744","name":"process sensor exist result","func":"var moment = global.get('moment');\nfunction checkSensorExist(checkSensor, currentSensors) {\n    var isExist = false;\n    for (var i = 0; i < currentSensors.length; i++) {\n        if (checkSensor.id == currentSensors[i].id) {\n            isExist = true;\n            break;\n        }\n    }\n    return isExist;\n}\n\nfunction createQueryaddNewSensors(newSensors, deviceMacId) {\n    var addSensorsQuery = '';\n    var bindQuery = [];\n    for (var i = 0; i < newSensors.length; i++) {\n        var newSensor = newSensors[i];\n        addSensorsQuery += 'INSERT INTO sensor VALUES (?, ?, ?,?,?); ';\n        bindQuery.push(\n            newSensor.id,\n            deviceMacId,\n            newSensor.type, \n            'ONLINE',\n            moment(new Date()).format(\"YYYY-MM-DD HH:mm:ss\")\n            );\n    }\n    return {\n        query: addSensorsQuery,\n        bindQuery: bindQuery\n    };\n}\n\nvar currentSensors = msg.sensorsQueryResult;\nvar deviceSensors = msg.payload.sensors;\nvar deviceMacId = msg.payload.mac_addr;\nvar newSensors = [];\nfor (var i = 0; i < deviceSensors.length; i++) {\n    checkDeviceSensor = deviceSensors[i];\n    if (checkSensorExist(checkDeviceSensor, currentSensors) === false) {\n        newSensors.push(checkDeviceSensor);\n    }\n}\n\nif (newSensors.length > 0) {\n    var addNewSensorsQuery = createQueryaddNewSensors(newSensors, deviceMacId);\n    var newMsg = {\n        query:addNewSensorsQuery.query,\n        bindQuery:addNewSensorsQuery.bindQuery,\n        payload: msg.payload\n    };\n    return [newMsg, null];\n} else {\n    return [null, msg];\n}","outputs":"2","noerr":0,"x":900,"y":360,"wires":[["14180d88.d73a9a"],["d13496ab.aa8788"]]},{"id":"14180d88.d73a9a","type":"mysql-query","z":"d99cedd2.63744","mydb":"686c798c.8bfb1","name":"add sensor","queryString":"","outputTo":"boardTypeQueryResult","x":1010,"y":240,"wires":[["d13496ab.aa8788"]]},{"id":"a212f70c.a28c7","type":"mysql-query","z":"d99cedd2.63744","mydb":"686c798c.8bfb1","name":"get sensors Info","queryString":"","outputTo":"sensorsQueryResult","x":750,"y":260,"wires":[["7c887834.9a1f6"]]},{"id":"d13496ab.aa8788","type":"function","z":"d99cedd2.63744","name":"send authenticated message","func":"var deviceMacAddr = msg.payload.mac_addr;\n\nvar authenticatedMsg ={\n    type:'authenticate',\n    content:{\n        'authenticate_result':'true'\n    }\n}\nvar sendAuthenticatedMsg ={\n    topic:'iot/'+deviceMacAddr,\n    payload:authenticatedMsg\n}\nreturn sendAuthenticatedMsg;","outputs":1,"noerr":0,"x":1200,"y":360,"wires":[["5ac5eafe.978614"]]},{"id":"b44f7d4b.36194","type":"function","z":"d99cedd2.63744","name":"get current sensors","func":"// authenticate msg format\nlet query ='select * from sensor where board_mac_id = ?';\nlet bindQuery = [ msg.payload.mac_addr,];\nmsg.query = query;\nmsg.bindQuery = bindQuery;\nreturn msg;","outputs":"1","noerr":0,"x":610,"y":360,"wires":[["a212f70c.a28c7"]]},{"id":"2612c6fc.391842","type":"function","z":"d99cedd2.63744","name":"update board info","func":"var moment = global.get('moment');\n\n// authenticate msg format\nlet query ='UPDATE board SET status=?,last_update =? WHERE mac_id = ?';\nlet bindQuery = [ \n    'ONLINE',\n    moment(msg.payload.timestamp).format(\"YYYY-MM-DD HH:mm:ss\"),\n    msg.payload.mac_addr,\n];\nmsg.query = query;\nmsg.bindQuery = bindQuery;\nreturn msg;","outputs":"1","noerr":0,"x":230,"y":520,"wires":[["4df66fc5.fb29"]]},{"id":"4df66fc5.fb29","type":"mysql-query","z":"d99cedd2.63744","mydb":"686c798c.8bfb1","name":"update board data","queryString":"","outputTo":"boardQueryResult","x":350,"y":440,"wires":[["514b801f.39778"]]},{"id":"aa3c2af5.4620f8","type":"function","z":"d99cedd2.63744","name":"add time serie data","func":"//\tC: [1, 100]; \t%: [0, 100],\tlux: [1, 65535]\nif(msg.queryResultSensorInfo.length>0){\n    let sensorInfo = msg.queryResultSensorInfo[0];\n    let sensorData = msg.payload;\n    let sensorValue = sensorData.value;\n    let addSensorValueMsg = null;\n    if (\n        (sensorInfo.sensor_type == 'LIGHT' && 1 <= sensorValue && sensorValue <= 65535) ||\n        (sensorInfo.sensor_type == 'TEMPERATURE' && 1 <= sensorValue && sensorValue <= 100) ||\n        (sensorInfo.sensor_type == 'HUMIDITY' && 0 <= sensorValue && sensorValue <= 100)\n    ) {\n        addSensorValueMsg = msg;\n        addSensorValueMsg.serieData = {\n            tags: {\n                'mac_id': sensorData.mac_addr,\n                'sensor_id': sensorData.sensor_id.toString(),\n            },\n            fields: {\n                'value':sensorData.value\n            },\n            time_stamp: sensorData.timestamp*Math.pow(10,6)\n        };\n    }\n    if(addSensorValueMsg!==null){\n        return addSensorValueMsg;\n    }\n}\n","outputs":"1","noerr":0,"x":700,"y":520,"wires":[["993ab654.efffc"]]},{"id":"491f9878.ce9b18","type":"mqtt out","z":"d99cedd2.63744","name":"","topic":"","qos":"","retain":"","broker":"ab67afc2.a5951","x":1590,"y":580,"wires":[]},{"id":"24701dc4.69972a","type":"function","z":"d99cedd2.63744","name":"threshold_config","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1390,"y":560,"wires":[["491f9878.ce9b18"]]},{"id":"993ab654.efffc","type":"influxdb-write-data","z":"d99cedd2.63744","name":"add time serie data","influxdbServer":"9d158d3f.2c3128","dataInput":"serieData","measurement":"sensor_data","outputTo":"writeDataResult","x":840,"y":440,"wires":[["7eec781d.256a58"]]},{"id":"514b801f.39778","type":"function","z":"d99cedd2.63744","name":"get sensor info","func":"// authenticate msg format\nlet query ='select * from sensor WHERE id = ? AND board_mac_id = ?';\nlet bindQuery = [ msg.payload.sensor_id, msg.payload.mac_addr,];\nmsg.query = query;\nmsg.bindQuery = bindQuery;\nreturn msg;","outputs":"1","noerr":0,"x":460,"y":520,"wires":[["747e557b.f3ab1c"]]},{"id":"747e557b.f3ab1c","type":"mysql-query","z":"d99cedd2.63744","mydb":"686c798c.8bfb1","name":"get sensor info","queryString":"","outputTo":"queryResultSensorInfo","x":580,"y":440,"wires":[["aa3c2af5.4620f8"]]},{"id":"30ce6440.7c79c4","type":"mysql-query","z":"d99cedd2.63744","mydb":"686c798c.8bfb1","name":"update sensor info","queryString":"","outputTo":"boardQueryResult","x":1090,"y":440,"wires":[[]]},{"id":"7eec781d.256a58","type":"function","z":"d99cedd2.63744","name":"update sensor info","func":"var moment = global.get('moment');\n\n// authenticate msg format\nlet query ='UPDATE sensor SET status=?,last_update =? WHERE id = ? AND board_mac_id = ?';\nlet bindQuery = [ \n    'ONLINE',\n    moment(msg.payload.timestamp).format(\"YYYY-MM-DD HH:mm:ss\"),\n    msg.payload.sensor_id,\n    msg.payload.mac_addr,\n];\nmsg.query = query;\nmsg.bindQuery = bindQuery;\nreturn msg;","outputs":"1","noerr":0,"x":950,"y":520,"wires":[["30ce6440.7c79c4"]]},{"id":"304041d5.1ddf16","type":"inject","z":"d99cedd2.63744","name":"check status interval","topic":"","payload":"","payloadType":"date","repeat":"20","crontab":"","once":false,"x":150,"y":660,"wires":[["b4a76495.73e7d8"]]},{"id":"c2f889de.e85988","type":"function","z":"d99cedd2.63744","name":"update board info","func":"function setBoardStatus(status,boardMacId){\n    var updateStatusMsg={\n        query:'UPDATE board SET status=? WHERE mac_id = ?',\n        bindQuery:[status,boardMacId]\n    };\n    node.send(updateStatusMsg);\n}\n\nfunction setSensorStatus(status,sensorId,boardMacId){\n    var updateStatusMsg={\n        query:'UPDATE sensor SET status=? WHERE id = ? AND board_mac_id = ?',\n        bindQuery:[status,sensorId,boardMacId]\n    };\n    node.send(updateStatusMsg);\n}\n\nvar moment = global.get('moment');\nvar currentTime= new Date();\nvar checkTime = new Date(currentTime.getTime() - 30000);\nlet boards = msg.boardsAndSensorsInfo[0];\nlet sensors = msg.boardsAndSensorsInfo[1];\nfor(var i=0;i<boards.length;i++){\n    var boardLastUpdate = new Date(boards[i].last_update);\n    if(boardLastUpdate<checkTime && boards[i].status=='ONLINE'){\n        setBoardStatus('OFFLINE',boards[i].mac_id);\n    }\n}\nfor(var i=0;i<sensors.length;i++){\n    var sensorLastUpdate = new Date(sensors[i].last_update);\n    if(sensorLastUpdate<checkTime && sensors[i].status=='ONLINE'){\n        setSensorStatus('OFFLINE',sensors[i].id,sensors[i].board_mac_id);\n    }\n}","outputs":"1","noerr":0,"x":430,"y":660,"wires":[["a5cf0fc1.d21ad8"]]},{"id":"a5cf0fc1.d21ad8","type":"mysql-query","z":"d99cedd2.63744","mydb":"686c798c.8bfb1","name":"update board and sensor info","queryString":"","outputTo":"boardQueryResult","x":690,"y":660,"wires":[[]]},{"id":"b4a76495.73e7d8","type":"mysql-query","z":"d99cedd2.63744","mydb":"686c798c.8bfb1","name":"get boards and sensors info","queryString":"select * from board;\nselect * from sensor;","outputTo":"boardsAndSensorsInfo","x":300,"y":580,"wires":[["c2f889de.e85988"]]},{"id":"ab67afc2.a5951","type":"mqtt-broker","z":"","broker":"icse_mqtt","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"686c798c.8bfb1","type":"MySQLdatabase","z":"","host":"icse_mysql","port":"3306","db":"icse_iot","tz":""},{"id":"9d158d3f.2c3128","type":"influxdb-server","z":"","host":"icse_influx","port":"8086","database":"icse_iot"}]
