backup/flows/cong/exam1-logic-flow.json
[{"id":"82c865e8.28d868","type":"mqtt in","z":"f81c2146.a8a8","name":"","topic":"icse/newDevice","qos":"2","broker":"c045e5a7.572c08","x":103,"y":282.95001220703125,"wires":[["fecf9c4.888b4e"]]},{"id":"ee0aa03b.8af36","type":"meo-esp-out","z":"f81c2146.a8a8","name":"action threshold","temperatureLimit":10,"humidityLimit":"60","luxLimit":2310,"x":858,"y":479.4499816894531,"wires":[["7a4d38f3.fc9de","9bca29a9.5fcc9"]]},{"id":"4d202c15.1fa464","type":"inject","z":"f81c2146.a8a8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":188.88333129882812,"y":53.883331298828125,"wires":[["ba84c306.763628"]]},{"id":"ba84c306.763628","type":"mysql-query","z":"f81c2146.a8a8","mydb":"686c798c.8bfb1","name":"check table exist","queryString":"SHOW TABLES LIKE 'device';\nSHOW TABLES LIKE 'sensor';\n","outputTo":"queryResult","x":368.8833312988281,"y":53.883331298828125,"wires":[["65f87678.17b3b8"]]},{"id":"65f87678.17b3b8","type":"function","z":"f81c2146.a8a8","name":"send init tbl command","func":"var tbl_exist = 0;\nfor (let i=0;i<2;i++){\n    if(msg.queryResult[i].length>=1){\n        tbl_exist+=1;\n    }\n}\nif(tbl_exist<2){\n    return msg;    \n}\n","outputs":1,"noerr":0,"x":598.8833312988281,"y":53.883331298828125,"wires":[["256a2176.6c5dbe"]]},{"id":"256a2176.6c5dbe","type":"mysql-query","z":"f81c2146.a8a8","mydb":"686c798c.8bfb1","name":"init tables if not exist","queryString":"CREATE TABLE IF NOT EXISTS device (\n    macAddr varchar(30) NOT NULL,\n    type varchar(10) NOT NULL,\n    status varchar(50) NOT NULL,\n    created_at DATETIME NOT NULL,\n    PRIMARY KEY (macAddr)\n); \n\nCREATE TABLE IF NOT EXISTS sensor (\n    name varchar(30) NOT NULL,\n    macAddr varchar(30) NOT NULL,\n    unit varchar(10),\n    status varchar(50) NOT NULL,\n    created_at DATETIME NOT NULL,\n    PRIMARY KEY (name,macAddr),\n    FOREIGN KEY (macAddr) REFERENCES device(macAddr) ON DELETE CASCADE\n); \n","outputTo":"queryResult","x":838.8833312988281,"y":53.883331298828125,"wires":[["70b7727b.a99acc"]]},{"id":"70b7727b.a99acc","type":"debug","z":"f81c2146.a8a8","name":"","active":true,"console":"false","complete":"true","x":1080.88330078125,"y":53.883331298828125,"wires":[]},{"id":"fecf9c4.888b4e","type":"function","z":"f81c2146.a8a8","name":"parse payload msg","func":"msg.payload = JSON.parse(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":179,"y":162,"wires":[["59fe4155.e34848"]]},{"id":"4617c90c.8f69","type":"function","z":"f81c2146.a8a8","name":"process query result","func":"var moment = global.get('moment');\nif (msg.deviceQueryResult.length === 0) {\n    // prepare add board query\n    var addBoardQuery = 'INSERT INTO device VALUES(?,?,?,?)';\n    var bindQuery = [\n        msg.payload.macAddr, \n        msg.payload.type,\n        'ONLINE',\n        moment(new Date()).format(\"YYYY-MM-DD HH:mm:ss\")\n    ];\n    var addNewBoardMsg = {\n        payload:msg.payload,\n        query:addBoardQuery,\n        bindQuery:bindQuery\n    };\n    return [addNewBoardMsg, null];\n    // add board device    \n} else {\n    // do nothing    \n    return [null, msg];\n}","outputs":"2","noerr":0,"x":580.75,"y":282.75,"wires":[["7e42f19c.a8c24"],["5ec22e28.ba6428"]]},{"id":"364bee57.6f847a","type":"mqtt out","z":"f81c2146.a8a8","name":"","topic":"","qos":"","retain":"","broker":"ab67afc2.a5951","x":1680.7500610351562,"y":294.75,"wires":[]},{"id":"74890cf1.0d990c","type":"mysql-query","z":"f81c2146.a8a8","mydb":"686c798c.8bfb1","name":"check board","queryString":"","outputTo":"deviceQueryResult","x":444.75,"y":160.75,"wires":[["4617c90c.8f69"]]},{"id":"59fe4155.e34848","type":"function","z":"f81c2146.a8a8","name":"check device exist","func":"// authenticate msg format\nlet query ='select * from device where macAddr = ?';\n// console.log(msg.payload.mac_addr);\nlet bindQuery = [ msg.payload.macAddr,];\nmsg.query = query;\nmsg.bindQuery = bindQuery;\nreturn msg;","outputs":"1","noerr":0,"x":324.75,"y":283.75,"wires":[["74890cf1.0d990c"]]},{"id":"7e42f19c.a8c24","type":"mysql-query","z":"f81c2146.a8a8","mydb":"686c798c.8bfb1","name":"add board","queryString":"","outputTo":"queryResult","x":698.75,"y":158.75,"wires":[["5ec22e28.ba6428"]]},{"id":"7b55395c.22e7f","type":"function","z":"f81c2146.a8a8","name":"process sensor exist result","func":"var moment = global.get('moment');\nfunction checkSensorExist(checkSensor, currentSensors) {\n    var isExist = false;\n    for (var i = 0; i < currentSensors.length; i++) {\n        if (checkSensor.name == currentSensors[i].name) {\n            isExist = true;\n            break;\n        }\n    }\n    return isExist;\n}\n\nfunction createQueryaddNewSensors(newSensors, macAddr) {\n    var addSensorsQuery = '';\n    var bindQuery = [];\n    for (var i = 0; i < newSensors.length; i++) {\n        var newSensor = newSensors[i];\n        addSensorsQuery += 'INSERT INTO sensor VALUES (?, ?, ?,?,?); ';\n        bindQuery.push(\n            newSensor.name,\n            macAddr,\n            newSensor.unit, \n            'ONLINE',\n            moment(new Date()).format(\"YYYY-MM-DD HH:mm:ss\")\n            );\n    }\n    return {\n        query: addSensorsQuery,\n        bindQuery: bindQuery\n    };\n}\n\nvar currentSensors = msg.sensorsQueryResult;\nvar deviceSensors = msg.payload.sensors;\nvar macAddr = msg.payload.macAddr;\nvar newSensors = [];\nfor (var i = 0; i < deviceSensors.length; i++) {\n    checkDeviceSensor = deviceSensors[i];\n    if (checkSensorExist(checkDeviceSensor, currentSensors) === false) {\n        newSensors.push(checkDeviceSensor);\n    }\n}\n\nif (newSensors.length > 0) {\n    var addNewSensorsQuery = createQueryaddNewSensors(newSensors, macAddr);\n    var newMsg = {\n        query:addNewSensorsQuery.query,\n        bindQuery:addNewSensorsQuery.bindQuery,\n        payload: msg.payload\n    };\n    return [newMsg, null];\n} else {\n    return [null, msg];\n}","outputs":"2","noerr":0,"x":1154.75,"y":285.75,"wires":[["3664dfc0.83ee1"],["c98cacf8.97f31"]]},{"id":"3664dfc0.83ee1","type":"mysql-query","z":"f81c2146.a8a8","mydb":"686c798c.8bfb1","name":"add sensor","queryString":"","outputTo":"addSensorResult","x":1347.75,"y":144.75,"wires":[["c98cacf8.97f31"]]},{"id":"1fcdeb95.b4e9ac","type":"mysql-query","z":"f81c2146.a8a8","mydb":"686c798c.8bfb1","name":"get sensors Info","queryString":"","outputTo":"sensorsQueryResult","x":954.75,"y":156.75,"wires":[["7b55395c.22e7f"]]},{"id":"c98cacf8.97f31","type":"function","z":"f81c2146.a8a8","name":"send authenticated message","func":"var macAddr = msg.payload.macAddr;\n\nvar authenticatedMsg ={\n    type:'register',\n    status:'OK'\n}\nvar sendAuthenticatedMsg ={\n    topic:'icse/'+macAddr+'/action',\n    payload:authenticatedMsg\n}\nreturn sendAuthenticatedMsg;","outputs":1,"noerr":0,"x":1464.7500610351562,"y":300.75,"wires":[["364bee57.6f847a"]]},{"id":"5ec22e28.ba6428","type":"function","z":"f81c2146.a8a8","name":"get current device sensors","func":"// authenticate msg format\nlet query ='select * from sensor where macAddr = ?';\nlet bindQuery = [ msg.payload.macAddr,];\nmsg.query = query;\nmsg.bindQuery = bindQuery;\nreturn msg;","outputs":"1","noerr":0,"x":856.75,"y":284.75,"wires":[["1fcdeb95.b4e9ac"]]},{"id":"837fcb87.3a7e1","type":"mqtt in","z":"f81c2146.a8a8","name":"","topic":"icse/data","qos":"2","broker":"c045e5a7.572c08","x":73,"y":478.8833312988281,"wires":[["381d37b.6d57c48"]]},{"id":"381d37b.6d57c48","type":"function","z":"f81c2146.a8a8","name":"parse payload msg","func":"msg.payload = JSON.parse(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":130.88333129882812,"y":386.8833312988281,"wires":[["ae8b435f.2d5c38"]]},{"id":"1d04c016.7f3cb","type":"influxdb-write-data","z":"f81c2146.a8a8","name":"add time serie data","influxdbServer":"9d158d3f.2c3128","dataInput":"serieData","measurement":"data","outputTo":"writeDataResult","x":613.88330078125,"y":379.8833312988281,"wires":[["33833e6f.8f2b42"]]},{"id":"33833e6f.8f2b42","type":"function","z":"f81c2146.a8a8","name":"add time serie data","func":"//\tC: [1, 100]; \t%: [0, 100],\tlux: [1, 65535]\nlet macAddr = msg.payload.macAddr;\nlet sensorData = msg.payload.sensorsData;\nlet sensorsInfo = msg.sensorsInfo;\n\nfunction getSensorInfo(name, macAddr) {\n    for (var i = 0; i < sensorsInfo.length; i++) {\n        if (sensorsInfo[i].name == name && sensorsInfo[i].macAddr == macAddr) {\n            return sensorsInfo[i];\n        }\n    }\n}\nif (msg.hasOwnProperty('savedCount')) {\n    msg.savedCount += 1;\n} else {\n    msg.savedCount = 0;\n    msg.addedSensors = [];\n    for (var i = 0; i < sensorData.length; i++) {\n        var sensorInfo = getSensorInfo(sensorData[i].name, macAddr);\n        sensorData[i].unit=sensorInfo.unit;\n        if (sensorInfo.unit == 'Lux' || sensorInfo.unit == '%' || sensorInfo.unit == 'C') {\n            msg.addedSensors.push(sensorData[i]);\n        }\n    }\n}\nif (msg.savedCount < msg.addedSensors.length) {\n    let savePoint = msg.addedSensors[msg.savedCount];\n    let sendMsg = msg;\n    sendMsg.serieData = {\n        tags: {\n            'macAddr': macAddr,\n            'name': savePoint.name,\n        },\n        fields: {\n            'value': savePoint.value\n        },\n        time_stamp: Date.now() * Math.pow(10, 6)\n    };\n    node.send([sendMsg, null]);\n} else {\n    node.send([null, msg]);\n\n}","outputs":"2","noerr":0,"x":612.88330078125,"y":476.8833312988281,"wires":[["1d04c016.7f3cb"],["ee0aa03b.8af36"]]},{"id":"8412d4e1.0b65e","type":"mysql-query","z":"f81c2146.a8a8","mydb":"686c798c.8bfb1","name":"get sensors Info","queryString":"","outputTo":"sensorsInfo","x":355.8833312988281,"y":476.8833312988281,"wires":[["33833e6f.8f2b42"]]},{"id":"ae8b435f.2d5c38","type":"function","z":"f81c2146.a8a8","name":"get sensors info","func":"// authenticate msg format\nlet query ='select * from sensor where macAddr = ?';\n// console.log(msg.payload.mac_addr);\nlet bindQuery = [ msg.payload.macAddr,];\nmsg.query = query;\nmsg.bindQuery = bindQuery;\nreturn msg;","outputs":"1","noerr":0,"x":352.8833312988281,"y":386.8833312988281,"wires":[["8412d4e1.0b65e"]]},{"id":"9bca29a9.5fcc9","type":"debug","z":"f81c2146.a8a8","name":"","active":true,"console":"false","complete":"true","x":1002,"y":412.2500305175781,"wires":[]},{"id":"7a4d38f3.fc9de","type":"mqtt out","z":"f81c2146.a8a8","name":"send control msg","topic":"","qos":"","retain":"","broker":"ab67afc2.a5951","x":1068.8167114257812,"y":476.8833312988281,"wires":[]},{"id":"c045e5a7.572c08","type":"mqtt-broker","z":"","broker":"icse_mqtt","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"686c798c.8bfb1","type":"MySQLdatabase","z":"","host":"icse_mysql","port":"3306","db":"icse_iot","tz":""},{"id":"ab67afc2.a5951","type":"mqtt-broker","z":"","broker":"icse_mqtt","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"9d158d3f.2c3128","type":"influxdb-server","z":"","host":"icse_influx","port":"8086","database":"icse_iot"}]
