backup/flows/cong/project2-iot-monitoring-data-input.json
[{"id":"4cc99a4f.2bf2e4","type":"iot-data-in","z":"e9dfec62.6b0488","name":"icse/data","mqttBroker":"c1c8f69a.cc8c3","topic":"icse/data","x":73,"y":381,"wires":[["5cbbe7bf.697bf8"]]},{"id":"cc7643ed.2fce78","type":"iot-data-in","z":"e9dfec62.6b0488","name":"board_new_devices","mqttBroker":"c1c8f69a.cc8c3","topic":"icse/newDevices","x":109,"y":115,"wires":[["b42d79e1.85ff18"]]},{"id":"83fdd555.65a948","type":"influxdb-out","z":"e9dfec62.6b0488","name":"save new devices","influxdbServer":"f23c7270.62be68","measurement":"devices_and_sensors","enableSchema":false,"dbTags":[],"dbFields":[],"x":743,"y":119,"wires":[]},{"id":"7f0c5f94.41103","type":"mqtt out","z":"e9dfec62.6b0488","name":"send verify message","topic":"","qos":"","retain":"","broker":"c1c8f69a.cc8c3","x":779,"y":39,"wires":[]},{"id":"b42d79e1.85ff18","type":"influxdb-query","z":"e9dfec62.6b0488","name":"query device info","influxdbServer":"f23c7270.62be68","queryString":"select * \nfrom devices_and_sensors\nwhere macAddr='{{msg.payload.macAddr}}'","outputTo":"query_result","x":261,"y":32,"wires":[["2f98687f.96fd38"]]},{"id":"2f98687f.96fd38","type":"function","z":"e9dfec62.6b0488","name":"check if device exist","func":"if (msg.query_result.length===0){ // device with this mac address is not exist.\n    let new_msg = msg;\n    return [null,new_msg];\n}else{\n        let new_msg = {\n        payload:{type: \"subcribeNewDevice\", status: \"OK\"},\n        topic:'icse/'+msg.payload.macAddr  + '/action'\n    }  \n    return [new_msg,null];\n}\n","outputs":"2","noerr":0,"x":359,"y":98,"wires":[["7f0c5f94.41103"],["e1821f4b.29653"]],"outputLabels":["device exist path","new device path"]},{"id":"e1821f4b.29653","type":"function","z":"e9dfec62.6b0488","name":"process new device","func":"var payload = msg.payload;\nvar replyMsg = {\n    payload:JSON.stringify(\n        {type: \"subcribeNewDevice\", status: \"OK\"}),\n    topic:'/icse/'+msg.payload.macAddr  + '/action'\n}\nvar addNewDeviceMsg ={\n    payload:{\n            tags:{\n                \"macAddr\": msg.payload.macAddr,\n                //\"devicesStatus\":\"'ONLINE'\"\n            },\n            fields:{\n                \"type\": payload.type,\n                \"devicesStatus\":\"ONLINE\"\n            },\n            time_stamp: Date.now()*Math.pow(10, 6),\n    }\n}\nreturn [replyMsg,addNewDeviceMsg]","outputs":"2","noerr":0,"x":466,"y":178,"wires":[["7f0c5f94.41103"],["83fdd555.65a948"]],"outputLabels":["send reply path","add new device path"]},{"id":"5cbbe7bf.697bf8","type":"influxdb-query","z":"e9dfec62.6b0488","name":"query sensor info","influxdbServer":"f23c7270.62be68","queryString":"select * \nfrom devices_and_sensors\nwhere devices_macAddr='{{msg.payload.macAddr}}'\nand sensorID='{{msg.payload.sensorID}}'","outputTo":"query_result","x":174,"y":281,"wires":[["c98de4c.4028f98"]]},{"id":"c98de4c.4028f98","type":"function","z":"e9dfec62.6b0488","name":"check if sensor exist","func":"if (msg.query_result.length>0){// sensor exist.\n            let new_msg = msg;\n    return [new_msg,null];\n}else{\n    let new_msg = msg;\n    new_msg.writeDataInput = {\n        tags:{            \n            'devices_macAddr':msg.payload.macAddr,\n            'sensorID':msg.payload.sensorID.toString(),\n        },\n        fields:{\n            'sensorStatus':'ONLINE'\n        },\n        time_stamp: Date.now()*Math.pow(10, 6),\n    }\n    return [null,new_msg];\n}\n","outputs":"2","noerr":0,"x":282.2499694824219,"y":336.75,"wires":[["ed22399a.f94f4"],["514cff31.85b54"]],"outputLabels":["sensor exist path","sensor not exist path"]},{"id":"45aa69ae.5aeab","type":"function","z":"e9dfec62.6b0488","name":"check data value","func":"//\tC: [1, 100]; \t%: [0, 100],\tlux: [1, 65535]\nlet sensorData = msg.payload;\nlet sensorValue = sensorData.value;\nlet addSensorValueMsg = null;\nif (\n    (sensorData.unit == 'lux' && 1 <= sensorValue && sensorValue <= 65535) ||\n    (sensorData.unit == 'C' && 1 <= sensorValue && sensorValue <= 100) ||\n    (sensorData.unit == '%' && 0 <= sensorValue && sensorValue <= 100)\n) {\n    addSensorValueMsg = msg;\n    addSensorValueMsg.payload = {\n        tags: {\n            'macAddr': sensorData.macAddr,\n            'sensorID': sensorData.sensorID.toString(),\n        },\n        fields: {\n            'unit':sensorData.unit,\n            'value':sensorValue\n        },\n        time_stamp: Date.now() * Math.pow(10, 6),\n    };\n}\nif(addSensorValueMsg!==null){\n    return addSensorValueMsg;\n}","outputs":"1","noerr":0,"x":768.0357666015625,"y":329.9287109375,"wires":[["9854fc99.c3d12"]],"outputLabels":["sensor normal"]},{"id":"514cff31.85b54","type":"influxdb-write-data","z":"e9dfec62.6b0488","name":"add new sensor","influxdbServer":"f23c7270.62be68","dataInput":"writeDataInput","measurement":"devices_and_sensors","outputTo":"writeDataResult","x":318.2856750488281,"y":458.5714416503906,"wires":[["ed22399a.f94f4"]]},{"id":"87dfe372.792ca","type":"mqtt out","z":"e9dfec62.6b0488","name":"send action message","topic":"","qos":"","retain":"","broker":"c1c8f69a.cc8c3","x":944.4287109375,"y":202.96435546875,"wires":[]},{"id":"396219a4.5c56fe","type":"threshold-operator","z":"e9dfec62.6b0488","name":"operator","temperatureLimit":40,"humidityLimit":60,"luxLimit":300,"actionTopic":"","x":743.214111328125,"y":247.928466796875,"wires":[["87dfe372.792ca"]]},{"id":"ce8d4984.9ca7d","type":"influxdb-query","z":"e9dfec62.6b0488","name":"query sensor info","influxdbServer":"f23c7270.62be68","queryString":"select devices_macAddr,sensorID,last(sensorStatus) as sensorStatus, time\nfrom devices_and_sensors\nwhere devices_macAddr='{{msg.payload.macAddr}}'\nand sensorID='{{msg.payload.sensorID}}'","outputTo":"query_result","x":670.7142944335938,"y":510.28582763671875,"wires":[["fdbbc246.a40278"]]},{"id":"fdbbc246.a40278","type":"function","z":"e9dfec62.6b0488","name":"process_sensor_status","func":"//\tC: [1, 100]; \t%: [0, 100],\tlux: [1, 65535]\nlet sensorData = msg.payload;\nlet sensorValue = sensorData.value;\nlet sensorInfo = msg.query_result[0];\n\nlet setSensorStatusMsg = null;\nif (\n    (sensorData.unit == 'lux' && 1 <= sensorValue && sensorValue <= 65535) ||\n    (sensorData.unit == 'C' && 1 <= sensorValue && sensorValue <= 100) ||\n    (sensorData.unit == '%' && 0 <= sensorValue && sensorValue <= 100)\n) {\n    if(sensorInfo.sensorStatus=='OFFLINE'){\n        setSensorStatusMsg = msg;\n        setSensorStatusMsg.payload = {\n            tags: {\n                'devices_macAddr': sensorInfo.devices_macAddr,\n                'sensorID': sensorInfo.sensorID.toString(),\n            },\n            fields: {\n               'sensorStatus': 'ONLINE',\n            },\n            time_stamp: Date.now() * Math.pow(10, 6),\n        };\n    }\n}else{\n    if(sensorInfo.sensorStatus=='ONLINE'){\n        setSensorStatusMsg = msg;\n        setSensorStatusMsg.payload = {\n            tags: {\n                'devices_macAddr': sensorInfo.devices_macAddr,\n                'sensorID': sensorInfo.sensorID.toString(),\n            },\n            fields: {\n                'sensorStatus': 'OFFLINE',\n            },\n            time_stamp: Date.now() * Math.pow(10, 6),\n        };\n    }\n}\nif(setSensorStatusMsg!==null){\n    return setSensorStatusMsg;\n}","outputs":"1","noerr":0,"x":772.7144165039062,"y":426.7142028808594,"wires":[["7be83ff2.f4eb7"]],"outputLabels":["sensor status change"]},{"id":"ed22399a.f94f4","type":"function","z":"e9dfec62.6b0488","name":"split action","func":"// split action: operator, add data value, set sensor status\nvar addValueMsg = JSON.parse(JSON.stringify(msg));\nvar setSensorStatusMsg = JSON.parse(JSON.stringify(msg));\nvar operatorMsg = JSON.parse(JSON.stringify(msg));\noperatorMsg.actionTopic = 'icse/'+msg.payload.macAddr+'/action';\n\nreturn [operatorMsg,addValueMsg,setSensorStatusMsg];","outputs":"3","noerr":0,"x":522.8572387695312,"y":334.2856750488281,"wires":[["396219a4.5c56fe"],["45aa69ae.5aeab"],["ce8d4984.9ca7d"]],"outputLabels":["set operator","add value","set sensor status"]},{"id":"9854fc99.c3d12","type":"influxdb-out","z":"e9dfec62.6b0488","name":"add data value","influxdbServer":"f23c7270.62be68","measurement":"data","enableSchema":false,"dbTags":[],"dbFields":[],"x":1020.0003662109375,"y":327.142822265625,"wires":[]},{"id":"7be83ff2.f4eb7","type":"influxdb-out","z":"e9dfec62.6b0488","name":"set sensor status","influxdbServer":"f23c7270.62be68","measurement":"devices_and_sensors","enableSchema":false,"dbTags":[],"dbFields":[],"x":948.7144775390625,"y":520.5714111328125,"wires":[]},{"id":"d8ae499a.0a7d18","type":"iot-data-in","z":"e9dfec62.6b0488","name":"icse/deviceStatus","mqttBroker":"c1c8f69a.cc8c3","topic":"icse/deviceStatus","x":85,"y":655,"wires":[["c318994.a4edce8"]]},{"id":"e5f3dba8.2eaed","type":"function","z":"e9dfec62.6b0488","name":"check if device exist","func":"if (msg.query_result.length>0 && msg.payload.status=='OFFLINE'){// sensor exist.\n    let new_msg = msg;\n    new_msg.writeDataInput = {\n        tags:{\n            \"macAddr\": msg.payload.macAddr,\n            //\"devicesStatus\":\"'ONLINE'\"\n        },\n        fields:{\n            \"type\": msg.query_result[0].type,\n            \"devicesStatus\":\"OFFLINE\"\n        },\n        time_stamp: Date.now()*Math.pow(10, 6),\n    }\n    return new_msg;\n}","outputs":"1","noerr":0,"x":371,"y":536,"wires":[["b716f7ee.5079"]],"outputLabels":["sensor exist path"]},{"id":"c318994.a4edce8","type":"influxdb-query","z":"e9dfec62.6b0488","name":"query device info","influxdbServer":"f23c7270.62be68","queryString":"select * \nfrom devices_and_sensors\nwhere macAddr='{{msg.payload.macAddr}}'","outputTo":"query_result","x":148.75003051757812,"y":540.25,"wires":[["e5f3dba8.2eaed"]]},{"id":"b716f7ee.5079","type":"influxdb-write-data","z":"e9dfec62.6b0488","name":"set device offline","influxdbServer":"f23c7270.62be68","dataInput":"writeDataInput","measurement":"devices_and_sensors","outputTo":"writeDataResult","x":375,"y":675,"wires":[["62c46aab.a7fa8c"]]},{"id":"62c46aab.a7fa8c","type":"influxdb-query","z":"e9dfec62.6b0488","name":"query device sensor","influxdbServer":"f23c7270.62be68","queryString":"SHOW TAG VALUES \nFROM \"devices_and_sensors\" \nWITH KEY = \"sensorID\" \nWHERE devices_macAddr='{{msg.payload.macAddr}}'","outputTo":"query_result","x":552,"y":609,"wires":[["92441585.8f9d2","f731d3f3.e38438"]]},{"id":"f731d3f3.e38438","type":"function","z":"e9dfec62.6b0488","name":"set sensors offline","func":"let setSensorMsgs = [];\nfor(let i=0;i<msg.query_result.length;i++){\n    let sensorInfo = msg.query_result[i];\n    let sensorID = sensorInfo.value;\n    let new_msg = JSON.parse(JSON.stringify(msg));\n    new_msg.payload = {\n        tags:{            \n            'devices_macAddr':msg.payload.macAddr,\n            'sensorID': sensorID.toString(),\n        },\n        fields:{\n            'sensorStatus':'OFFLINE'\n        },\n        time_stamp: Date.now()*Math.pow(10, 6),\n    }\n    setSensorMsgs.push(new_msg);\n}\nreturn [setSensorMsgs,]","outputs":"1","noerr":0,"x":778,"y":602,"wires":[["c6c564e0.36d748"]],"outputLabels":["sensor exist path"]},{"id":"c6c564e0.36d748","type":"influxdb-out","z":"e9dfec62.6b0488","name":"set sensors status","influxdbServer":"f23c7270.62be68","measurement":"devices_and_sensors","enableSchema":false,"dbTags":[],"dbFields":[],"x":800,"y":681,"wires":[]},{"id":"92441585.8f9d2","type":"debug","z":"e9dfec62.6b0488","name":"","active":true,"console":"false","complete":"true","x":735,"y":734,"wires":[]},{"id":"c1c8f69a.cc8c3","type":"mqtt-broker","z":"","broker":"mqtt","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"f23c7270.62be68","type":"influxdb-server","z":"","host":"influxdb","port":"8086","database":"ICSE_IOT_DATA"}]