Exam-1/dong/node-red/data/flows.json
[{"id":"f2dcdcd4.dd698","type":"tab","label":"dashboard","disabled":false,"info":""},{"id":"e896fa76.f883a8","type":"tab","label":"Simulator logic flow","disabled":false,"info":""},{"id":"33ff2d02.8176c2","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"icse_iot","name":"","usetls":false,"tls":""},{"id":"9d239fb2.ffc52","type":"MySQLdatabase","z":"","host":"mysql","port":"3306","db":"icse_iot","tz":""},{"id":"824650f7.f53e","type":"mqtt-broker","z":"","broker":"mqtt","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"75d3da9a.6f17c4","type":"influxdb","z":"","hostname":"influxdb","port":"8086","protocol":"http","database":"icse_iot","name":"","usetls":false,"tls":""},{"id":"5587714e.79651","type":"http in","z":"f2dcdcd4.dd698","name":"","url":"device/api/info","method":"get","upload":false,"swaggerDoc":"","x":133,"y":151,"wires":[["1c24cab6.0f7ce5"]]},{"id":"f23f5606.c83f58","type":"function","z":"f2dcdcd4.dd698","name":"format response","func":"let payload = [];\nfor(let i = 0;i<msg.payload.length;i++){\n    let device = msg.payload[i];\n    payload.push({\n        macAddr: device.macAddr, \n        deviceType: device.type, \n        deviceStatus: device.status, \n        createdAt: device.created_at \n    })\n}\nmsg.payload = payload;\nreturn msg;","outputs":1,"noerr":0,"x":594,"y":184,"wires":[["652e460e.41ae28"]]},{"id":"189e36ff.f16249","type":"function","z":"f2dcdcd4.dd698","name":"get sensor info","func":"msg.topic = \"select * from sensor;\";\nreturn msg;","outputs":1,"noerr":0,"x":274,"y":401,"wires":[["1e1743fc.e73efc"]]},{"id":"404f673d.58d2b8","type":"http in","z":"f2dcdcd4.dd698","name":"","url":"sensor/api/info","method":"get","upload":false,"swaggerDoc":"","x":116,"y":341,"wires":[["189e36ff.f16249"]]},{"id":"abf18714.4c54c8","type":"function","z":"f2dcdcd4.dd698","name":"format response","func":"let payload = [];\nfor(let i = 0;i<msg.payload.length;i++){\n    let sensor = msg.payload[i];\n    payload.push({\n        macAddr: sensor.macAddr, \n        sensorID: sensor.name, \n\t\tsensorStatus: sensor.status, \n\t\tcreatedAt: sensor.created_at\n    })\n}\nmsg.payload = payload;\nreturn msg;","outputs":1,"noerr":0,"x":717,"y":341,"wires":[["652e460e.41ae28"]]},{"id":"652e460e.41ae28","type":"http response","z":"f2dcdcd4.dd698","name":"","statusCode":"","headers":{},"x":1125,"y":358,"wires":[]},{"id":"996261ca.b6e5f","type":"http in","z":"f2dcdcd4.dd698","name":"","url":"device/api/logs","method":"get","upload":false,"swaggerDoc":"","x":184,"y":535,"wires":[["60eede9b.cc91"]]},{"id":"ca565132.e0b71","type":"influxdb in","z":"f2dcdcd4.dd698","influxdb":"75d3da9a.6f17c4","name":"get device's macAddrs","query":"show tag values from devices_and_sensors with key=sensorID","rawOutput":false,"precision":"","retentionPolicy":"","x":814,"y":520,"wires":[["652e460e.41ae28"]]},{"id":"60eede9b.cc91","type":"function","z":"f2dcdcd4.dd698","name":"create query device logs ","func":"let macAddr = msg.payload.macAddr;\nmsg.query = \"select time,deviceStatus from devices_and_sensors where macAddr='\" + macAddr + \"' and isDevice=True;\";\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":534,"wires":[["ca565132.e0b71"]]},{"id":"b43ab24e.0b9a5","type":"http in","z":"f2dcdcd4.dd698","name":"","url":"sensor/api/logs","method":"get","upload":false,"swaggerDoc":"","x":179,"y":609,"wires":[["fabdafeb.e25e2"]]},{"id":"632dbe22.ed23","type":"influxdb in","z":"f2dcdcd4.dd698","influxdb":"75d3da9a.6f17c4","name":"get device's macAddrs","query":"show tag values from devices_and_sensors with key=sensorID","rawOutput":false,"precision":"","retentionPolicy":"","x":809,"y":594,"wires":[["652e460e.41ae28"]]},{"id":"fabdafeb.e25e2","type":"function","z":"f2dcdcd4.dd698","name":"create query sensor logs ","func":"let sensorID = msg.payload.sensorID;\nmsg.query = \"select time,sensorStatus from devices_and_sensors where sensorID='\" + sensorID + \"';\";\nreturn msg;","outputs":1,"noerr":0,"x":525,"y":608,"wires":[["632dbe22.ed23"]]},{"id":"4279151.f1915ec","type":"http in","z":"f2dcdcd4.dd698","name":"","url":"/realtime-chart/api/device/initData","method":"get","upload":false,"swaggerDoc":"","x":176,"y":696,"wires":[["70b29b47.a0e904"]]},{"id":"5722c96e.8ded18","type":"function","z":"f2dcdcd4.dd698","name":"add query init data","func":"msg.sensors = msg.payload;\n\nlet macAddr = msg.macAddr;\nlet endTime = Date.now();\nlet startTime = endTime - 60*1000;\nstartTime = startTime*Math.pow(10,6),\nendTime = endTime*Math.pow(10,6)\n\nmsg.query = \"select * from data where macAddr='\" + \n    macAddr + \"' and \" + \n    \"time >= \"+ startTime + \" and \" + \n    \"time <= \" + endTime;\nreturn msg;","outputs":1,"noerr":0,"x":498,"y":728,"wires":[["b8faf8da.ff5c58"]]},{"id":"b8faf8da.ff5c58","type":"influxdb in","z":"f2dcdcd4.dd698","influxdb":"75d3da9a.6f17c4","name":"get init data","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":733,"y":749,"wires":[["7dbdfbd1.6ba624"]]},{"id":"7dbdfbd1.6ba624","type":"function","z":"f2dcdcd4.dd698","name":"format init data response","func":"var units_range = {\n    c: {min: 1, max: 100},\n    lux: {min: 1, max: 100},\n    humi: {min: 1, max: 65535}\n};\n\nvar groupLineChart = [\n    {unit: \"\", lines: []},\n    {unit: \"Lux\", lines: []}\n]\n\nfor(let i = 0;i<msg.sensors.length;i++){\n    msg.sensors[i].timeSeriesData = [];\n    msg.sensors[i].sensorID = msg.sensors[i].name;\n}\n\nfor (let i = 0; i < msg.payload.length; i++) {\n    // msg.payload[i].sensorID= msg.payload[i].sensorID.split('-')[1];\n    let is_new_sensor = true;\n    for (let j = 0; j < msg.sensors.length; j++) {\n        if (msg.payload[i].name === msg.sensors[j].name) {\n            msg.sensors[j].timeSeriesData.push({\n                time: msg.payload[i].time,\n                value: msg.payload[i].value\n            })\n            break;\n        }\n    }\n    // if (is_new_sensor) {\n    //     let new_sensor = new Sensor(msg.payload[i].macAddr, msg.payload[i].sensorID,\n    //         msg.payload[i].unit);\n    //     new_sensor.timeSeriesData.push({\n    //         time: msg.payload[i].time,\n    //         value: msg.payload[i].value\n    //     })\n    //     initSensorsData.push(new_sensor);\n    // }\n}\n\nfor (let i = 0; i < msg.sensors.length; i++) {\n    if (msg.sensors[i].unit.toLowerCase() === 'c' ||\n        msg.sensors[i].unit.toLowerCase() === '%') {\n        groupLineChart[0].lines.push(msg.sensors[i]);\n        groupLineChart[0].unit += \" / \" + msg.sensors[i].unit;\n    }\n    if (msg.sensors[i].unit.toLowerCase() === 'lux') {\n        groupLineChart[1].lines.push(msg.sensors[i]);\n    }\n}\n\ngroupLineChart[0].unit = groupLineChart[0].unit.slice(3, groupLineChart[0].unit.length);\n\nmsg.payload = groupLineChart;\nreturn msg;","outputs":1,"noerr":0,"x":914,"y":673,"wires":[["652e460e.41ae28"]]},{"id":"d7100fcb.c0a","type":"http in","z":"f2dcdcd4.dd698","name":"","url":"dashboard","method":"get","upload":false,"swaggerDoc":"","x":202,"y":79,"wires":[["ccac3bcb.5f7a88"]]},{"id":"e1242d86.8d569","type":"http in","z":"f2dcdcd4.dd698","name":"","url":"/realtime-chart/api/sensor/latestData","method":"get","upload":false,"swaggerDoc":"","x":186,"y":897,"wires":[["c3b2430c.7abdc"]]},{"id":"c3b2430c.7abdc","type":"function","z":"f2dcdcd4.dd698","name":"add query latest data","func":"msg.macAddr = msg.payload.macAddr;\n\nmsg.arrSensorID = msg.payload.sensorIDs.split(',');\nlet sensor_query = \"\";\nfor(let i = 0;i<msg.arrSensorID.length;i++){\n    if(msg.arrSensorID[i]){\n        sensor_query += \"or \\\"name\\\" = '\" + msg.arrSensorID[i] + \"' \";\n    }\n}\n\nsensor_query = sensor_query.slice(2, sensor_query.length);\n\nlet endTime = Date.now();\nlet startTime = endTime - 5*1000;\nstartTime = startTime*Math.pow(10,6),\nendTime = endTime*Math.pow(10,6)\n\nmsg.query = \"select * from data where \" +\n    sensor_query + \" and \" +\n    \"\\\"macAddr\\\" = '\" + msg.macAddr + \"' and \" +\n    \"time >= \"+ startTime + \" and \" +\n    \"time <= \" + endTime;\nreturn msg;","outputs":1,"noerr":0,"x":368,"y":981,"wires":[["a6310776.c5fd18"]]},{"id":"a6310776.c5fd18","type":"influxdb in","z":"f2dcdcd4.dd698","influxdb":"75d3da9a.6f17c4","name":"get latest sensor data","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":574,"y":896,"wires":[["13a631aa.5e13fe"]]},{"id":"13a631aa.5e13fe","type":"function","z":"f2dcdcd4.dd698","name":"format latest data response","func":"var initSensorsData = [];\nvar Sensor = function (macAddr, sensorID) {\n    this.macAddr = macAddr;\n    this.sensorID = sensorID;\n    // this.unit = unit;\n    this.timeSeriesData = [] // {\"time\": \"\", \"value\": };\n}\n\nfor (let i=0;i<msg.payload.length;i++) {\n    // msg.payload[i].sensorID= msg.payload[i].sensorID.split('-')[1];\n    let is_new_sensor = true;\n    for (let j=0;j<initSensorsData.length;j++) {\n        if (msg.payload[i].name === initSensorsData[j].sensorID) {\n            initSensorsData[j].timeSeriesData.push({\n                time: msg.payload[i].time,\n                value: msg.payload[i].value\n            })\n            is_new_sensor = false;\n            break;\n        }\n    }\n    if (is_new_sensor) {\n        let new_sensor = new Sensor(msg.payload[i].macAddr, msg.payload[i].name);\n        new_sensor.timeSeriesData.push({\n            time: msg.payload[i].time,\n            value: msg.payload[i].value\n        })\n        initSensorsData.push(new_sensor);\n    }\n}\nmsg.payload = initSensorsData;\nreturn msg;","outputs":1,"noerr":0,"x":745,"y":974,"wires":[["652e460e.41ae28"]]},{"id":"ccac3bcb.5f7a88","type":"dashboard","z":"f2dcdcd4.dd698","name":"","x":437,"y":85,"wires":[["652e460e.41ae28"]]},{"id":"1c24cab6.0f7ce5","type":"function","z":"f2dcdcd4.dd698","name":"get device info","func":"msg.topic = \"select * from device;\";\nreturn msg;","outputs":1,"noerr":0,"x":276,"y":206,"wires":[["43a44c16.981dc4"]]},{"id":"43a44c16.981dc4","type":"mysql","z":"f2dcdcd4.dd698","mydb":"9d239fb2.ffc52","name":"get device info","x":457,"y":258,"wires":[["f23f5606.c83f58"]]},{"id":"1e1743fc.e73efc","type":"mysql","z":"f2dcdcd4.dd698","mydb":"9d239fb2.ffc52","name":"get sensor info","x":480,"y":341,"wires":[["72ddd8dc.194998","abf18714.4c54c8"]]},{"id":"72ddd8dc.194998","type":"debug","z":"f2dcdcd4.dd698","name":"","active":true,"console":"false","complete":"false","x":675,"y":272,"wires":[]},{"id":"39a1e5b0.705e5a","type":"mysql","z":"f2dcdcd4.dd698","mydb":"9d239fb2.ffc52","name":"get device info","x":432,"y":814,"wires":[["5722c96e.8ded18"]]},{"id":"70b29b47.a0e904","type":"function","z":"f2dcdcd4.dd698","name":"get device's sensor ","func":"msg.macAddr = msg.payload.macAddr;\nmsg.topic = \"select * from sensor where macAddr='\" + msg.macAddr + \"';\";\nreturn msg;","outputs":1,"noerr":0,"x":235,"y":764,"wires":[["39a1e5b0.705e5a"]]},{"id":"96ca208f.be71b","type":"function","z":"e896fa76.f883a8","name":"create table device","func":"msg.topic = \"CREATE TABLE device (\" + \n// \"id INT AUTO_INCREMENT NOT NULL,\" +\n\"macAddr VARCHAR(30) NOT NULL,\" +\n\"type VARCHAR(10) NOT NULL,\" +\n\"status VARCHAR(50) NOT NULL,\" +\n\"created_at DATETIME NOT NULL,\" +\n\"PRIMARY KEY (macAddr))\";\nreturn msg;","outputs":1,"noerr":0,"x":306,"y":36,"wires":[["9503da36.4f8e98"]]},{"id":"4acb4420.2bbbdc","type":"debug","z":"e896fa76.f883a8","name":"","active":true,"console":"false","complete":"true","x":598,"y":23,"wires":[]},{"id":"9503da36.4f8e98","type":"mysql","z":"e896fa76.f883a8","mydb":"9d239fb2.ffc52","name":"create tables in database icse_iot ","x":624,"y":116,"wires":[["4acb4420.2bbbdc"]]},{"id":"41717fec.0804c","type":"function","z":"e896fa76.f883a8","name":"create table sensor","func":"msg.topic = \"CREATE TABLE sensor (\" + \n// \"id INT NOT NULL,\" +\n\"name VARCHAR(30) NOT NULL,\" +\n\"macAddr VARCHAR(30) NOT NULL,\" +\n\"unit VARCHAR(10),\" +\n\"status VARCHAR(50) NOT NULL,\" +\n\"created_at DATETIME NOT NULL,\" +\n\"PRIMARY KEY (name, macAddr),\" +\n\"CONSTRAINT fk_device FOREIGN KEY (macAddr) REFERENCES device(macAddr) ON DELETE CASCADE)\";\nreturn msg;","outputs":1,"noerr":0,"x":269,"y":108,"wires":[["9503da36.4f8e98"]]},{"id":"5c83f29e.c43ecc","type":"inject","z":"e896fa76.f883a8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":90,"y":186,"wires":[["f615db72.042778"]]},{"id":"f615db72.042778","type":"function","z":"e896fa76.f883a8","name":"test query","func":"msg.topic = \"select name from sensor where macAddr = 'ab:bc:1e';\";\nreturn msg;","outputs":1,"noerr":0,"x":256,"y":187,"wires":[["9503da36.4f8e98"]]},{"id":"24422d2f.304f32","type":"function","z":"e896fa76.f883a8","name":"query device","func":"msg.payload = JSON.parse(msg.payload);\nmsg.newDevice = msg.payload;\nmsg.topic = \"select * from sensor where macAddr = '\" + msg.payload.macAddr + \"';\";\nreturn msg;","outputs":1,"noerr":0,"x":268,"y":301,"wires":[["5cfffe37.9204d"]]},{"id":"b91d40f1.4b8fa","type":"inject","z":"e896fa76.f883a8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":84,"y":104,"wires":[["41717fec.0804c"]]},{"id":"116ed63b.95979a","type":"inject","z":"e896fa76.f883a8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":78,"y":44,"wires":[["96ca208f.be71b"]]},{"id":"9776cb8c.5dd578","type":"mqtt in","z":"e896fa76.f883a8","name":"","topic":"icse/newDevice","qos":"2","broker":"824650f7.f53e","x":85,"y":359,"wires":[["24422d2f.304f32"]]},{"id":"5cfffe37.9204d","type":"mysql","z":"e896fa76.f883a8","mydb":"9d239fb2.ffc52","name":"query sensors info","x":481,"y":302,"wires":[["7d80e716.503868"]]},{"id":"7d80e716.503868","type":"function","z":"e896fa76.f883a8","name":"check device and sensors exist","func":"// msg.newDevice: contain device register\n\nlet newSensors = [];\nmsg.topic = \"\";\nif(msg.payload.length){\n    for(let i = 0;i<msg.newDevice.sensors.length;i++){\n        let sensor = msg.newDevice.sensors[i];\n        let is_new_sensor = true;\n        for(let j = 0;j<msg.payload.length;j++){\n            let oldSensor = msg.payload[j];\n            if(sensor.name === oldSensor.name){\n                is_new_sensor = false;\n                break;\n            }\n        }\n        if(is_new_sensor){\n            newSensors.push(sensor);\n        }\n    }\n} else{\n    // device didn't register\n    newSensors = msg.newDevice.sensors;\n    msg.topic += \"insert into device (macAddr, type, status, created_at) values('\" +\n            msg.newDevice.macAddr + \"','\" + msg.newDevice.type + \"', 'ONLINE', now());\";\n}\n\nif(newSensors.length) {\n    msg.topic += \"insert into sensor (name,macAddr, unit, status, created_at) values\";\n    for(let i = 0;i<newSensors.length;i++){\n        let newSensor = newSensors[i];\n        msg.topic += \"('\" + newSensor.name + \"','\"+ msg.newDevice.macAddr + \"','\" + newSensor.unit + \"','ONLINE', now()),\";\n    }\n    msg.topic = msg.topic.replace(/.$/,\";\");\n    msg.newSensors = newSensors;\n    return [msg, null];\n}\nreturn [null, msg];\n","outputs":"2","noerr":0,"x":541,"y":370,"wires":[["4a91179e.190ca8"],["56e3738f.9d63ec"]]},{"id":"4a91179e.190ca8","type":"mysql","z":"e896fa76.f883a8","mydb":"9d239fb2.ffc52","name":"save data","x":721,"y":296,"wires":[["56e3738f.9d63ec","32cd9f82.81b69"]]},{"id":"639365d1.05c0cc","type":"mqtt out","z":"e896fa76.f883a8","name":"response to device","topic":"","qos":"","retain":"","broker":"824650f7.f53e","x":1128,"y":339,"wires":[]},{"id":"56e3738f.9d63ec","type":"function","z":"e896fa76.f883a8","name":"message to ESP","func":"let message_response = {\n    topic: \"icse/\" + msg.newDevice.macAddr + \"/action\",\n    payload: {type: \"register\",status: \"OK\"}\n}\nreturn message_response;","outputs":1,"noerr":0,"x":901,"y":363,"wires":[["639365d1.05c0cc"]]},{"id":"32cd9f82.81b69","type":"function","z":"e896fa76.f883a8","name":"save device logs","func":"// msg.newSensors: new sensors\n// msg.measurement = msg.newDevice.macAddr + \"_logs\";\nmsg.payload = [];\n// save device status\nmsg.payload.push([\n    {status: \"ONLINE\"},\n    {\n        name: msg.newDevice.macAddr,\n        macAddr: msg.newDevice.macAddr\n    }\n])\n\nfor(let i = 0;i<msg.newSensors.length;i++){\n    msg.payload.push([\n        {status: \"ONLINE\"},\n        {\n            name: msg.newSensors[i].name,\n            macAddr: msg.newDevice.macAddr\n        }\n    ])\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":896,"y":260,"wires":[["9330438a.5a968"]]},{"id":"9330438a.5a968","type":"influxdb out","z":"e896fa76.f883a8","influxdb":"75d3da9a.6f17c4","name":"","measurement":"logs","precision":"","retentionPolicy":"","x":1150,"y":271,"wires":[]},{"id":"3c57d7c2.4aeff8","type":"mqtt in","z":"e896fa76.f883a8","name":"","topic":"icse/data","qos":"2","broker":"824650f7.f53e","x":71,"y":469,"wires":[[]]},{"id":"4bf252c2.beee7c","type":"inject","z":"e896fa76.f883a8","name":"interval time check device status","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":160,"y":554,"wires":[["71a13d6.7fc7fc4"]]},{"id":"8212bce4.e2f81","type":"function","z":"e896fa76.f883a8","name":"check device status","func":"\n\nif(msg.msgType === \"deviceCome\") {\n    // save the devices macAddr when receive data from it\n    let devicesMacAddrLive = context.get('devicesMacAddrLive') || [];\n    let deviceCome = msg.payload;\n    let isExist = false;\n    for (let i = 0; i < devicesMacAddrLive.length; i++) {\n        if (deviceCome.macAddr === devicesMacAddrLive[i]) {\n            isExist = true;\n            break;\n        }\n    }\n    if (!isExist) {\n        devicesMacAddrLive.push(deviceCome.macAddr);\n    }\n// store the devicesMacAddrLive back\n    context.set('devicesMacAddrLive', devicesMacAddrLive);\n    return null;\n} else {\n//    check device status: msg.msgType = checkDevicesStatus\n    let devicesMacAddrLive = context.get('devicesMacAddrLive') || [];\n    let currentDevices = msg.payload;\n    let onlineDevicesMacAddr = [];\n    let offlineDevicesMacAddr = [];\n    for(let i = 0;i<currentDevices.length;i++){\n        let isOnline = false;\n        for(let j = 0;j<devicesMacAddrLive.length;j++){\n            if(currentDevices[i].macAddr === devicesMacAddrLive[j]){\n                isOnline = true;\n                break;\n            }\n        }\n        if(isOnline){\n            onlineDevicesMacAddr.push(currentDevices[i].macAddr);\n        } else {\n            offlineDevicesMacAddr.push(currentDevices[i].macAddr);\n        }\n    }\n    devicesMacAddrLive = [];\n    context.set('devicesMacAddrLive', devicesMacAddrLive);\n    msg.onlineDevicesMacAddr = onlineDevicesMacAddr;\n    msg.offlineDevicesMacAddr = offlineDevicesMacAddr;\n    return msg;\n}","outputs":"1","noerr":0,"x":579,"y":442,"wires":[["7237698a.3d4298"]]},{"id":"7237698a.3d4298","type":"debug","z":"e896fa76.f883a8","name":"","active":true,"console":"false","complete":"true","x":757,"y":479,"wires":[]},{"id":"71a13d6.7fc7fc4","type":"function","z":"e896fa76.f883a8","name":"add query devices status","func":"msg.topic = \"select macAddr,status from device\";\nmsg.msgType = \"checkDevicesStatus\";\nreturn msg;","outputs":1,"noerr":0,"x":308,"y":648,"wires":[["7ba26bd4.709584"]]},{"id":"7ba26bd4.709584","type":"mysql","z":"e896fa76.f883a8","mydb":"9d239fb2.ffc52","name":"get devices status","x":482,"y":557,"wires":[["8212bce4.e2f81"]]},{"id":"62ae2a1d.afe1b4","type":"function","z":"e896fa76.f883a8","name":"format data","func":"msg.payload = JSON.parse(msg.payload);\nmsg.msgType = \"deviceCome\";\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":465,"wires":[["8212bce4.e2f81"]]},{"id":"c6553cbf.466a2","type":"mqtt in","z":"e896fa76.f883a8","name":"","topic":"icse/data","qos":"2","broker":"824650f7.f53e","x":105,"y":762,"wires":[[]]},{"id":"5cc6b60b.9d8bf8","type":"function","z":"e896fa76.f883a8","name":"save data","func":"// msg.newSensors: new sensors\nmsg.payload = JSON.parse(msg.payload);\nlet payload = [];\n// save device data\n\nfor(let i = 0;i<msg.payload.sensorsData.length;i++){\n    let sensor = msg.payload.sensorsData[i];\n    if(typeof(sensor.value) !== \"boolean\"){\n        payload.push([\n            {value: sensor.value},\n            {\n                name: sensor.name,\n                macAddr:msg.payload.macAddr\n            }\n        ])\n    }\n}\nmsg.payload = payload;\nreturn msg;","outputs":1,"noerr":0,"x":331,"y":768,"wires":[["5c12f173.962b4"]]},{"id":"5c12f173.962b4","type":"influxdb out","z":"e896fa76.f883a8","influxdb":"75d3da9a.6f17c4","name":"","measurement":"data","precision":"","retentionPolicy":"","x":605,"y":779,"wires":[]}]