Prepare for exam 2/dong/nodered-server/data/.flows.json.backup
[{"id":"c539f5f3.ad0038","type":"tab","label":"Logic flow","disabled":false,"info":""},{"id":"56748b61.eac824","type":"tab","label":"Dashboard flow","disabled":false,"info":""},{"id":"5646df.2ba6e92","type":"tab","label":"API","disabled":false,"info":""},{"id":"ef8144cc.694138","type":"tab","label":"Flow 1"},{"id":"3e24abb5.20db64","type":"MySQLdatabase","z":"","host":"mysql","port":"3306","db":"icse_iot","tz":""},{"id":"6d29e8fe.c70a18","type":"mqtt-broker","z":"","broker":"mqtt","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"dc019123.0b347","type":"influxdb","z":"","hostname":"influxdb","port":"8086","protocol":"http","database":"icse_iot","name":"","usetls":false,"tls":""},{"id":"a10c2792.034b58","type":"influxdb-server","z":"","host":"influxdb","port":"8086","database":"icse_iot"},{"id":"3bd8be3a.f6ff02","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"icse_iot","name":"","usetls":false,"tls":""},{"id":"8487bc93.7832d","type":"mysql-query","z":"c539f5f3.ad0038","mydb":"3e24abb5.20db64","name":"","queryString":"SHOW TABLES LIKE 'device';\nSHOW TABLES LIKE 'sensor';","outputTo":"isExistTable","x":258,"y":106,"wires":[["a3fba893.bfa918"]]},{"id":"bc17ed06.14fc4","type":"inject","z":"c539f5f3.ad0038","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":148,"y":181,"wires":[["8487bc93.7832d"]]},{"id":"baddbeff.373f3","type":"debug","z":"c539f5f3.ad0038","name":"","active":true,"console":"false","complete":"true","x":828,"y":106,"wires":[]},{"id":"c72c3d51.a8fc1","type":"mysql-query","z":"c539f5f3.ad0038","mydb":"3e24abb5.20db64","name":"create table","queryString":"","outputTo":"queryResult","x":708,"y":186,"wires":[["baddbeff.373f3"]]},{"id":"24a5f8b1.78aaf8","type":"function","z":"c539f5f3.ad0038","name":"create table device ans sesor","func":"msg.query = \"CREATE TABLE device (\" +\n\t\"macAddr VARCHAR(30) NOT NULL,\" +\n\t\"type VARCHAR(10) NOT NULL,\" +\n\t\"status VARCHAR(50) NOT NULL,\" +\n\t\"created_at DATETIME NOT NULL,\" +\n\t\"PRIMARY KEY (macAddr)\" +\n\"); \";\n\nmsg.query += \"CREATE TABLE sensor (\" +\n\t\"name VARCHAR(30) NOT NULL,\" +\n\t\"macAddr VARCHAR(30) NOT NULL,\" +\n\t\"unit VARCHAR(10),\" +\n\t\"status VARCHAR(50) NOT NULL,\" +\n\t\"created_at DATETIME NOT NULL,\" +\n\t\"PRIMARY KEY (name, macAddr),\" +\n\t\"CONSTRAINT fk_device FOREIGN KEY (macAddr) REFERENCES device(macAddr) ON DELETE CASCADE\" +\n\")\";\nreturn msg;","outputs":1,"noerr":0,"x":558,"y":106,"wires":[["c72c3d51.a8fc1"]]},{"id":"a3fba893.bfa918","type":"function","z":"c539f5f3.ad0038","name":"check table existed","func":"if(msg.isExistTable[0].length && msg.isExistTable[1].length){\n    return null;\n}\nreturn msg;","outputs":1,"noerr":0,"x":408,"y":186,"wires":[["24a5f8b1.78aaf8"]]},{"id":"3691b64d.4effca","type":"function","z":"c539f5f3.ad0038","name":"query device","func":"msg.payload = JSON.parse(msg.payload);\nmsg.newDevice = msg.payload;\nmsg.query = \"select * from sensor where macAddr = '\" + msg.payload.macAddr + \"';\";\nreturn msg;","outputs":1,"noerr":0,"x":351,"y":308,"wires":[["b9f9dfee.02f7b"]]},{"id":"89f67bb7.6dafe8","type":"function","z":"c539f5f3.ad0038","name":"check device and sensors exist","func":"// msg.newDevice: contain device register\n\nlet newSensors = [];\nmsg.query = \"\";\nif(msg.payload.length){\n    for(let i = 0;i<msg.newDevice.sensors.length;i++){\n        let sensor = msg.newDevice.sensors[i];\n        let is_new_sensor = true;\n        for(let j = 0;j<msg.payload.length;j++){\n            let oldSensor = msg.payload[j];\n            if(sensor.name === oldSensor.name){\n                is_new_sensor = false;\n                break;\n            }\n        }\n        if(is_new_sensor){\n            newSensors.push(sensor);\n        }\n    }\n} else{\n    // device didn't register\n    newSensors = msg.newDevice.sensors;\n    msg.query += \"insert into device (macAddr, type, status, created_at) values('\" +\n            msg.newDevice.macAddr + \"','\" + msg.newDevice.type + \"', 'ONLINE', now());\";\n}\n\nif(newSensors.length) {\n    msg.query += \"insert into sensor (name,macAddr, unit, status, created_at) values\";\n    for(let i = 0;i<newSensors.length;i++){\n        let newSensor = newSensors[i];\n        msg.query += \"('\" + newSensor.name + \"','\"+ msg.newDevice.macAddr + \"','\" + newSensor.unit + \"','ONLINE', now()),\";\n    }\n    msg.query = msg.query.replace(/.$/,\";\");\n    msg.newSensors = newSensors;\n    return [msg, null];\n}\nreturn [null, msg];\n","outputs":"2","noerr":0,"x":611,"y":377,"wires":[["80fb8bc2.7a4218"],["9bda6165.f79ca"]]},{"id":"59699368.6ce09c","type":"mqtt out","z":"c539f5f3.ad0038","name":"response to device","topic":"","qos":"","retain":"","broker":"6d29e8fe.c70a18","x":1233,"y":369,"wires":[]},{"id":"9bda6165.f79ca","type":"function","z":"c539f5f3.ad0038","name":"message to ESP","func":"let message_response = {\n    topic: \"bkcloud/\" + msg.newDevice.macAddr + \"/action\",\n    payload: {type: \"register\",status: \"OK\"}\n}\nreturn message_response;","outputs":1,"noerr":0,"x":984,"y":370,"wires":[["59699368.6ce09c","7f19b449.0ad73c"]]},{"id":"65d1013d.8da06","type":"function","z":"c539f5f3.ad0038","name":"save device logs","func":"// msg.newSensors: new sensors\n// msg.measurement = msg.newDevice.macAddr + \"_logs\";\nmsg.payload = [];\n// save device status\nmsg.payload.push([\n    {status: \"ONLINE\"},\n    {\n        name: msg.newDevice.macAddr,\n        macAddr: msg.newDevice.macAddr\n    }\n])\n\nfor(let i = 0;i<msg.newSensors.length;i++){\n    msg.payload.push([\n        {status: \"ONLINE\"},\n        {\n            name: msg.newSensors[i].name,\n            macAddr: msg.newDevice.macAddr\n        }\n    ])\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":979,"y":267,"wires":[["5c087f48.ea7a1"]]},{"id":"5c087f48.ea7a1","type":"influxdb out","z":"c539f5f3.ad0038","influxdb":"dc019123.0b347","name":"","measurement":"logs","precision":"","retentionPolicy":"","x":1243,"y":267,"wires":[]},{"id":"b9f9dfee.02f7b","type":"mysql-query","z":"c539f5f3.ad0038","mydb":"3e24abb5.20db64","name":"","queryString":"","outputTo":"payload","x":548,"y":303,"wires":[["89f67bb7.6dafe8"]]},{"id":"80fb8bc2.7a4218","type":"mysql-query","z":"c539f5f3.ad0038","mydb":"3e24abb5.20db64","name":"","queryString":"","outputTo":"payload","x":804,"y":320,"wires":[["65d1013d.8da06","9bda6165.f79ca"]]},{"id":"7aef97fb.4e09d8","type":"http in","z":"c539f5f3.ad0038","name":"","url":"api/sensorsData","method":"post","upload":false,"swaggerDoc":"","x":149,"y":489,"wires":[["961eb285.63292","c29b0a00.6abb88"]]},{"id":"961eb285.63292","type":"http response","z":"c539f5f3.ad0038","name":"","statusCode":"","headers":{},"x":397,"y":438,"wires":[]},{"id":"c29b0a00.6abb88","type":"function","z":"c539f5f3.ad0038","name":"save data to influxdb","func":"// msg.payload = JSON.parse(msg.payload);\n\nlet Point = function (time, macAddr, name, unit, value) {\n    return [\n        { // fields\n            time: time,\n            value: value,\n            unit: unit\n        },\n        { // tags\n            macAddr: macAddr,\n            name: name\n        }\n    ]\n}\n\nlet dataPointSave = [];\n\nfor (let i = 0; i < msg.payload.length; i++) {\n    let deviceData = msg.payload[i];\n    let macAddr = deviceData.macAddr;\n    for(let j = 0;j<deviceData.data.length;j++){\n        let timeStampData = deviceData.data[j];\n        let time = timeStampData.time;\n        for(let k = 0;k<timeStampData.sensorsData.length;k++){\n            let sensorData = timeStampData.sensorsData[k];\n            let point = new Point(time, macAddr, sensorData.name, sensorData.unit, sensorData.value);\n            dataPointSave.push(point);\n        }\n    }\n}\n\nmsg.payload = dataPointSave;\nreturn msg;","outputs":1,"noerr":0,"x":446,"y":498,"wires":[["82240de9.acfa1"]]},{"id":"e9ff59c5.5ed9e8","type":"mqtt in","z":"c539f5f3.ad0038","name":"","topic":"bkcloud/newDevice","qos":"2","broker":"6d29e8fe.c70a18","x":144,"y":306,"wires":[["3691b64d.4effca","ea3b14.f5c1f4f"]]},{"id":"82240de9.acfa1","type":"influxdb out","z":"c539f5f3.ad0038","influxdb":"dc019123.0b347","name":"","measurement":"data","precision":"","retentionPolicy":"","x":736,"y":498,"wires":[]},{"id":"5d32efbc.c0e2d","type":"inject","z":"c539f5f3.ad0038","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":144,"y":657,"wires":[["15aba93.6d85657"]]},{"id":"15aba93.6d85657","type":"mysql-query","z":"c539f5f3.ad0038","mydb":"3e24abb5.20db64","name":"","queryString":"select macAddr, name from sensor where unit = '%';","outputTo":"devices","x":264,"y":585,"wires":[["6c29322b.84a2ac"]]},{"id":"6c29322b.84a2ac","type":"function","z":"c539f5f3.ad0038","name":"query average humidity","func":"// msg.devices: [{macAddr: \"\", name: \"\"},...]\n\nmsg.payload = {};\nmsg.payload.query = \"\";\n\nfunction generateQuery(macAddr, name){\n    let q = \"select mean(value) as \\\"\" + macAddr + \"\\\" from data where \\\"macAddr\\\"='\" +\n    macAddr + \"' and \\\"name\\\"='\" + \n    name + \"';\";\n    return q;\n}\n\nif(msg.devices.length){\n    for(let i = 0;i<msg.devices.length;i++){\n        let device = msg.devices[i];\n        let query = generateQuery(device.macAddr, device.name);\n        msg.payload.query += query;\n    }\n    \n    return msg;\n} else {\n    return null;\n}\n\n","outputs":1,"noerr":0,"x":412,"y":657,"wires":[["f2a57602.d99248"]]},{"id":"c098cbc0.85b248","type":"function","z":"c539f5f3.ad0038","name":"check humidity threshold of all devices","func":"// msg.devices = [{macAddr: \"\", name: \"sensor-name\"}]\n// msg.queryResult [[],[{time: \"\", \"MAC\": 70.0}, ...]\n\nif(msg.hasOwnProperty('queryResult')){\n    var threshold = 20;\n    \n    for(let i = 0;i<msg.devices.length;i++){\n        let device = msg.devices[i];\n        for(let j = 0;j<msg.queryResult.length;j++){\n            // let d = msg.queryResult[j][0];\n            // if(d){\n                // if(d[device.macAddr] > threshold){\n                    device.isTurnOnLed = true;\n                // }\n                // break;\n            // }\n        }\n    }\n    \n    delete msg.queryResult;\n    msg.count = 0;\n    msg.deviceSendAction = msg.devices[msg.count];\n    return msg;\n} else {\n    msg.count += 1;\n    if(msg.count === msg.devices.length){\n        return null;\n    }\n    msg.deviceSendAction = msg.devices[msg.count];\n    return msg;\n}","outputs":1,"noerr":0,"x":753,"y":665,"wires":[["e328fe7d.2d41b","f9a17be1.2d61e8"]]},{"id":"9e057981.f1ce78","type":"mqtt out","z":"c539f5f3.ad0038","name":"","topic":"","qos":"","retain":"","broker":"6d29e8fe.c70a18","x":1018,"y":724,"wires":[]},{"id":"f2a57602.d99248","type":"influxdb-query","z":"c539f5f3.ad0038","name":"get average humidity","influxdbServer":"a10c2792.034b58","queryString":"","outputTo":"queryResult","x":553,"y":576,"wires":[["c098cbc0.85b248","eb76fc7c.00234"]]},{"id":"e328fe7d.2d41b","type":"function","z":"c539f5f3.ad0038","name":"message turn on led","func":"if(msg.deviceSendAction.hasOwnProperty('isTurnOnLed')){\n    let msg1 = {};\n    msg1.payload = {\n        type: \"ledAction\",\n\t    action: \"ON\"\n    }\n    msg1.topic = \"bkcloud/\" + msg.deviceSendAction.macAddr + \"/action\";\n    return [msg, msg1];\n}\nreturn [msg, null];","outputs":"2","noerr":0,"x":765,"y":757,"wires":[["c098cbc0.85b248"],["9e057981.f1ce78","d877a9ac.e548a8"]]},{"id":"f645714e.a8bd9","type":"http in","z":"56748b61.eac824","name":"","url":"device/api/info","method":"get","upload":false,"swaggerDoc":"","x":112,"y":120,"wires":[["76aaa703.335f98"]]},{"id":"7ee27fa7.8a4ef","type":"function","z":"56748b61.eac824","name":"format response","func":"let payload = [];\nfor(let i = 0;i<msg.payload.length;i++){\n    let device = msg.payload[i];\n    payload.push({\n        macAddr: device.macAddr, \n        deviceType: device.type, \n        deviceStatus: device.status, \n        createdAt: device.created_at \n    })\n}\nmsg.payload = payload;\nreturn msg;","outputs":1,"noerr":0,"x":573,"y":153,"wires":[["11a19bc6.b94754"]]},{"id":"323210ad.b31c","type":"function","z":"56748b61.eac824","name":"get sensor info","func":"msg.query = \"select * from sensor;\";\nreturn msg;","outputs":1,"noerr":0,"x":253,"y":370,"wires":[["559af75b.de57c8"]]},{"id":"a92b7729.cddef8","type":"http in","z":"56748b61.eac824","name":"","url":"sensor/api/info","method":"get","upload":false,"swaggerDoc":"","x":95,"y":310,"wires":[["323210ad.b31c"]]},{"id":"df5a84ed.c11b38","type":"function","z":"56748b61.eac824","name":"format response","func":"let payload = [];\nfor(let i = 0;i<msg.payload.length;i++){\n    let sensor = msg.payload[i];\n    payload.push({\n        macAddr: sensor.macAddr, \n        sensorID: sensor.name, \n\t\tsensorStatus: sensor.status, \n\t\tcreatedAt: sensor.created_at\n    })\n}\nmsg.payload = payload;\nreturn msg;","outputs":1,"noerr":0,"x":696,"y":310,"wires":[["11a19bc6.b94754"]]},{"id":"11a19bc6.b94754","type":"http response","z":"56748b61.eac824","name":"","statusCode":"","headers":{},"x":1104,"y":327,"wires":[]},{"id":"8d37fdac.cbded","type":"http in","z":"56748b61.eac824","name":"","url":"device/api/logs","method":"get","upload":false,"swaggerDoc":"","x":163,"y":504,"wires":[["2c95b755.629888"]]},{"id":"1618033e.47e63d","type":"influxdb in","z":"56748b61.eac824","influxdb":"3bd8be3a.f6ff02","name":"get device's macAddrs","query":"show tag values from devices_and_sensors with key=sensorID","rawOutput":false,"precision":"","retentionPolicy":"","x":793,"y":489,"wires":[["11a19bc6.b94754"]]},{"id":"2c95b755.629888","type":"function","z":"56748b61.eac824","name":"create query device logs ","func":"let macAddr = msg.payload.macAddr;\nmsg.query = \"select time,deviceStatus from devices_and_sensors where macAddr='\" + macAddr + \"' and isDevice=True;\";\nreturn msg;","outputs":1,"noerr":0,"x":509,"y":503,"wires":[["1618033e.47e63d"]]},{"id":"a2060f35.ebc14","type":"http in","z":"56748b61.eac824","name":"","url":"sensor/api/logs","method":"get","upload":false,"swaggerDoc":"","x":158,"y":578,"wires":[["875a692a.3b4108"]]},{"id":"3b084276.4539de","type":"influxdb in","z":"56748b61.eac824","influxdb":"3bd8be3a.f6ff02","name":"get device's macAddrs","query":"show tag values from devices_and_sensors with key=sensorID","rawOutput":false,"precision":"","retentionPolicy":"","x":788,"y":563,"wires":[["11a19bc6.b94754"]]},{"id":"875a692a.3b4108","type":"function","z":"56748b61.eac824","name":"create query sensor logs ","func":"let sensorID = msg.payload.sensorID;\nmsg.query = \"select time,sensorStatus from devices_and_sensors where sensorID='\" + sensorID + \"';\";\nreturn msg;","outputs":1,"noerr":0,"x":504,"y":577,"wires":[["3b084276.4539de"]]},{"id":"92fe9b80.814758","type":"http in","z":"56748b61.eac824","name":"","url":"/realtime-chart/api/device/initData","method":"get","upload":false,"swaggerDoc":"","x":155,"y":665,"wires":[["976cda31.2a8078"]]},{"id":"d6b25cab.b8059","type":"function","z":"56748b61.eac824","name":"add query init data","func":"msg.sensors = msg.payload;\n\nlet macAddr = msg.macAddr;\nlet endTime = Date.now();\nlet startTime = endTime - 60*1000;\nstartTime = startTime*Math.pow(10,6),\nendTime = endTime*Math.pow(10,6)\n\nmsg.query = \"select * from data where macAddr='\" + \n    macAddr + \"' and \" + \n    \"time >= \"+ startTime + \" and \" + \n    \"time <= \" + endTime;\nreturn msg;","outputs":1,"noerr":0,"x":477,"y":697,"wires":[["9c303455.adac28"]]},{"id":"9c303455.adac28","type":"influxdb in","z":"56748b61.eac824","influxdb":"3bd8be3a.f6ff02","name":"get init data","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":718,"y":710,"wires":[["9c2f2667.7d5ab8"]]},{"id":"9c2f2667.7d5ab8","type":"function","z":"56748b61.eac824","name":"format init data response","func":"var units_range = {\n    c: {min: 1, max: 100},\n    lux: {min: 1, max: 100},\n    humi: {min: 1, max: 65535}\n};\n\nvar groupLineChart = [\n    {unit: \"\", lines: []},\n    {unit: \"Lux\", lines: []}\n]\n\nfor(let i = 0;i<msg.sensors.length;i++){\n    msg.sensors[i].timeSeriesData = [];\n    msg.sensors[i].sensorID = msg.sensors[i].name;\n}\n\nfor (let i = 0; i < msg.payload.length; i++) {\n    // msg.payload[i].sensorID= msg.payload[i].sensorID.split('-')[1];\n    let is_new_sensor = true;\n    for (let j = 0; j < msg.sensors.length; j++) {\n        if (msg.payload[i].name === msg.sensors[j].name) {\n            msg.sensors[j].timeSeriesData.push({\n                time: msg.payload[i].time,\n                value: msg.payload[i].value\n            })\n            break;\n        }\n    }\n    // if (is_new_sensor) {\n    //     let new_sensor = new Sensor(msg.payload[i].macAddr, msg.payload[i].sensorID,\n    //         msg.payload[i].unit);\n    //     new_sensor.timeSeriesData.push({\n    //         time: msg.payload[i].time,\n    //         value: msg.payload[i].value\n    //     })\n    //     initSensorsData.push(new_sensor);\n    // }\n}\n\nfor (let i = 0; i < msg.sensors.length; i++) {\n    if (msg.sensors[i].unit.toLowerCase() === 'c' ||\n        msg.sensors[i].unit.toLowerCase() === '%') {\n        groupLineChart[0].lines.push(msg.sensors[i]);\n        groupLineChart[0].unit += \" / \" + msg.sensors[i].unit;\n    }\n    if (msg.sensors[i].unit.toLowerCase() === 'lux') {\n        groupLineChart[1].lines.push(msg.sensors[i]);\n    }\n}\n\ngroupLineChart[0].unit = groupLineChart[0].unit.slice(3, groupLineChart[0].unit.length);\n\nmsg.payload = groupLineChart;\nreturn msg;","outputs":1,"noerr":0,"x":893,"y":642,"wires":[["11a19bc6.b94754"]]},{"id":"726d119e.5f7ad","type":"http in","z":"56748b61.eac824","name":"","url":"dashboard","method":"get","upload":false,"swaggerDoc":"","x":181,"y":48,"wires":[["deceaa66.832c28"]]},{"id":"842faf61.9f513","type":"http in","z":"56748b61.eac824","name":"","url":"/realtime-chart/api/sensor/latestData","method":"get","upload":false,"swaggerDoc":"","x":165,"y":866,"wires":[["4ab80773.af2a38"]]},{"id":"4ab80773.af2a38","type":"function","z":"56748b61.eac824","name":"add query latest data","func":"msg.macAddr = msg.payload.macAddr;\n\nmsg.arrSensorID = msg.payload.sensorIDs.split(',');\nlet sensor_query = \"\";\nfor(let i = 0;i<msg.arrSensorID.length;i++){\n    if(msg.arrSensorID[i]){\n        sensor_query += \"or \\\"name\\\" = '\" + msg.arrSensorID[i] + \"' \";\n    }\n}\n\nsensor_query = sensor_query.slice(2, sensor_query.length);\n\nlet endTime = Date.now();\nlet startTime = endTime - 5*1000;\nstartTime = startTime*Math.pow(10,6),\nendTime = endTime*Math.pow(10,6)\n\nmsg.query = \"select * from data where \" +\n    sensor_query + \" and \" +\n    \"\\\"macAddr\\\" = '\" + msg.macAddr + \"' and \" +\n    \"time >= \"+ startTime + \" and \" +\n    \"time <= \" + endTime;\nreturn msg;","outputs":1,"noerr":0,"x":347,"y":950,"wires":[["3ebb83cb.f1bcfc"]]},{"id":"3ebb83cb.f1bcfc","type":"influxdb in","z":"56748b61.eac824","influxdb":"3bd8be3a.f6ff02","name":"get latest sensor data","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":553,"y":865,"wires":[["f46a49fb.f090a8"]]},{"id":"f46a49fb.f090a8","type":"function","z":"56748b61.eac824","name":"format latest data response","func":"var initSensorsData = [];\nvar Sensor = function (macAddr, sensorID) {\n    this.macAddr = macAddr;\n    this.sensorID = sensorID;\n    // this.unit = unit;\n    this.timeSeriesData = [] // {\"time\": \"\", \"value\": };\n}\n\nfor (let i=0;i<msg.payload.length;i++) {\n    // msg.payload[i].sensorID= msg.payload[i].sensorID.split('-')[1];\n    let is_new_sensor = true;\n    for (let j=0;j<initSensorsData.length;j++) {\n        if (msg.payload[i].name === initSensorsData[j].sensorID) {\n            initSensorsData[j].timeSeriesData.push({\n                time: msg.payload[i].time,\n                value: msg.payload[i].value\n            })\n            is_new_sensor = false;\n            break;\n        }\n    }\n    if (is_new_sensor) {\n        let new_sensor = new Sensor(msg.payload[i].macAddr, msg.payload[i].name);\n        new_sensor.timeSeriesData.push({\n            time: msg.payload[i].time,\n            value: msg.payload[i].value\n        })\n        initSensorsData.push(new_sensor);\n    }\n}\nmsg.payload = initSensorsData;\nreturn msg;","outputs":1,"noerr":0,"x":724,"y":943,"wires":[["11a19bc6.b94754"]]},{"id":"deceaa66.832c28","type":"dashboard","z":"56748b61.eac824","name":"","x":416,"y":54,"wires":[["11a19bc6.b94754"]]},{"id":"76aaa703.335f98","type":"function","z":"56748b61.eac824","name":"get device info","func":"msg.query = \"select * from device;\";\nreturn msg;","outputs":1,"noerr":0,"x":255,"y":175,"wires":[["eb6e48a0.2545d8"]]},{"id":"d2c9ffdc.a109c","type":"debug","z":"56748b61.eac824","name":"","active":true,"console":"false","complete":"false","x":654,"y":241,"wires":[]},{"id":"976cda31.2a8078","type":"function","z":"56748b61.eac824","name":"get device's sensor ","func":"msg.macAddr = msg.payload.macAddr;\nmsg.topic = \"select * from sensor where macAddr='\" + msg.macAddr + \"';\";\nreturn msg;","outputs":1,"noerr":0,"x":214,"y":733,"wires":[["b5122390.57e2e"]]},{"id":"eb6e48a0.2545d8","type":"mysql-query","z":"56748b61.eac824","mydb":"3e24abb5.20db64","name":"","queryString":"","outputTo":"payload","x":426,"y":193,"wires":[["7ee27fa7.8a4ef"]]},{"id":"559af75b.de57c8","type":"mysql-query","z":"56748b61.eac824","mydb":"3e24abb5.20db64","name":"","queryString":"","outputTo":"payload","x":446,"y":317,"wires":[["d2c9ffdc.a109c","df5a84ed.c11b38"]]},{"id":"b5122390.57e2e","type":"mysql-query","z":"56748b61.eac824","mydb":"3e24abb5.20db64","name":"","queryString":"","outputTo":"payload","x":388,"y":773,"wires":[["d6b25cab.b8059"]]},{"id":"d877a9ac.e548a8","type":"debug","z":"c539f5f3.ad0038","name":"","active":true,"console":"false","complete":"payload","x":1034,"y":807,"wires":[]},{"id":"ea3b14.f5c1f4f","type":"debug","z":"c539f5f3.ad0038","name":"","active":true,"console":"false","complete":"false","x":337,"y":257,"wires":[]},{"id":"7f19b449.0ad73c","type":"debug","z":"c539f5f3.ad0038","name":"","active":true,"console":"false","complete":"true","x":1156,"y":444,"wires":[]},{"id":"eb76fc7c.00234","type":"debug","z":"c539f5f3.ad0038","name":"","active":true,"console":"false","complete":"true","x":797,"y":567,"wires":[]},{"id":"f9a17be1.2d61e8","type":"debug","z":"c539f5f3.ad0038","name":"","active":true,"console":"false","complete":"true","x":1018,"y":649,"wires":[]},{"id":"7717e381.85b20c","type":"mqtt out","z":"c539f5f3.ad0038","name":"","topic":"bkcloud/60:01:94:34:AB:AC/action","qos":"","retain":"","broker":"6d29e8fe.c70a18","x":570,"y":883,"wires":[]},{"id":"f5649d92.9171a","type":"function","z":"c539f5f3.ad0038","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":311,"y":866,"wires":[["7717e381.85b20c"]]},{"id":"7ce8d0d8.224a5","type":"inject","z":"c539f5f3.ad0038","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":133,"y":877,"wires":[["f5649d92.9171a"]]},{"id":"f6e46ab1.c971a8","type":"inject","z":"ef8144cc.694138","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":141,"y":207,"wires":[["fd4493e3.0353d"]]},{"id":"fd4493e3.0353d","type":"function","z":"ef8144cc.694138","name":"","func":"node.send([\n    [{topic: 'a', payload: 'b'},\n    {topic: 'a1', payload: 'b1'},\n    {topic: 'a2', payload: 'b2'}],\n])\n","outputs":1,"noerr":0,"x":353,"y":218,"wires":[["a9cb58a5.74c8a8"]]},{"id":"a9cb58a5.74c8a8","type":"debug","z":"ef8144cc.694138","name":"","active":true,"console":"false","complete":"payload","x":543,"y":202,"wires":[]},{"id":"48dee0f8.c6b1e","type":"mqtt out","z":"ef8144cc.694138","name":"","topic":"","qos":"","retain":"","broker":"6d29e8fe.c70a18","x":528,"y":277,"wires":[]},{"id":"b83797bf.d1c308","type":"mqtt in","z":"ef8144cc.694138","name":"","topic":"a","qos":"2","broker":"6d29e8fe.c70a18","x":185,"y":415,"wires":[["b65709f3.eec5c8"]]},{"id":"b65709f3.eec5c8","type":"debug","z":"ef8144cc.694138","name":"","active":true,"console":"false","complete":"false","x":372,"y":409,"wires":[]},{"id":"ba269231.345b8","type":"mqtt in","z":"ef8144cc.694138","name":"","topic":"a1","qos":"2","broker":"6d29e8fe.c70a18","x":180,"y":482,"wires":[["f99c17e0.e05e28"]]},{"id":"f99c17e0.e05e28","type":"debug","z":"ef8144cc.694138","name":"","active":true,"console":"false","complete":"false","x":367,"y":476,"wires":[]},{"id":"373a57fc.a2b7a8","type":"mqtt in","z":"ef8144cc.694138","name":"","topic":"a2","qos":"2","broker":"6d29e8fe.c70a18","x":186,"y":548,"wires":[["f8b76771.7b5e58"]]},{"id":"f8b76771.7b5e58","type":"debug","z":"ef8144cc.694138","name":"","active":true,"console":"false","complete":"false","x":373,"y":542,"wires":[]}]